<script total>

	exports.id = 'taction';
	exports.name = 'Action';
	exports.icon = 'ti ti-totaljs';
	exports.author = 'Total.js';
	exports.version = '1';
	exports.group = 'Total.js';
	exports.config = { partial: false, input: '', query: '', params: '', user: false, permissions: '', code: '$.success();', strerr: false };
	exports.inputs = [{ id: 'input', name: 'Payload' }];
	exports.outputs = [{ id: 'output', name: 'Response' }, { id: 'error', name: 'Error' }];

	exports.install = function(com) {

		MAIN.flowtaction = {};

		const ARGS = /\{{1,2}[a-z0-9_.-\s]+\}{1,2}/gi;
		const AsyncFunction = Object.getPrototypeOf(async function(){}).constructor;
		const Options = function($) {
			var t = this;
			t.error = new ErrorBuilder();
			t.controller = $.refs.controller;
			t.payload = $.data;

			if (!(t.payload instanceof Object) || !t.payload)
				t.payload = {};

			t.message = $;
			t.user = t.controller ? t.controller.user : null;
			t.query = t.controller ? t.controller.query : {};
			t.params = t.controller ? t.controller.params : {};
		};

		Options.prototype = {

			get client() {
				return this.controller;
			},

			get websocket() {
				return this.controller ? this.controller.parent : null;
			},

			get sessionid() {
				return this.controller ? this.controller.sessionid : null;
			},

			get value() {
				return this.payload;
			},

			get model() {
				return this.payload;
			},

			set value(value) {
				this.payload = value;
			},

			set model(value) {
				this.payload = value;
			},

			get url() {
				return (this.controller ? this.controller.url : '') || '';
			},

			get uri() {
				return this.controller ? this.controller.uri : null;
			},

			get path() {
				return this.controller ? this.controller.pathname : EMPTYARRAY;
			},

			get split() {
				return this.controller ? this.controller.split : EMPTYARRAY;
			},

			get split2() {
				return this.controller ? this.controller.split2 : EMPTYARRAY;
			},

			get language() {
				return (this.controller ? this.controller.language : '') || '';
			},

			get ip() {
				return this.controller ? this.controller.ip : null;
			},

			get files() {
				return this.controller ? this.controller.files : null;
			},

			get body() {
				return this.controller ? this.controller.body : null;
			},

			get mobile() {
				return this.controller ? this.controller.mobile : null;
			},

			get headers() {
				return this.controller ? this.controller.headers : null;
			},

			get ua() {
				return this.controller ? this.controller.ua : null;
			}
		};

		Options.prototype.audit = function(message, type) {
			F.audit(this, message ? this.variables(message) : '', type);
		};

		Options.prototype.success = function(value) {
			this.message.send('output', { success: true ,value: value });
		};

		Options.prototype.successful = function(callback) {
			var self = this;
			return function(err, a, b, c) {
				if (err)
					self.invalid(err);
				else
					callback.call(self, a, b, c);
			};
		};

		Options.prototype.callback = function(value) {

			var self = this;

			if (arguments.length == 0) {
				return function(err, response) {
					err && self.error.push(err);
					self.callback(response);
				};
			}

			if (self.error.items.length)
				self.message.send('error', self.strerr ? self.error.toString() : self.error);
			else
				self.message.send('output', value);
		};

		Options.prototype.done = function(arg) {
			var self = this;
			return function(err, response) {
				if (err) {
					self.error.push(err);
					self.callback(null);
				} else
					self.callback({ success: true, value: arg === true ? response : arg });
			};
		};

		Options.prototype.invalid = function(error, path, index) {
			var self = this;
			self.error.push(error, path, index);
			self.callback(null);
		};

		Options.prototype.cookie = function(name, value, expire, options) {
			var self = this;
			if (value === undefined)
				return self.controller.cookie(name);
			if (value === null)
				expire = '-1 day';
			self.controller.cookie(name, value, expire, options);
			return self;
		};

		Options.prototype.variables = function(str, data) {

			if (str.indexOf('{') === -1)
				return str;

			var $ = this;

			return str.replace(ARGS, function(text) {
				var l = text[1] === '{' ? 2 : 1;
				var key = text.substring(l, text.length - l).trim();
				var val = null;
				var five = key.substring(0, 5);
				if (five === 'user.') {
					if ($.user) {
						key = key.substring(5);
						val = key.indexOf('.') === -1 ? $.user[key] : U.get($.user, key);
					}
				} else if (five === 'data.') {
					if (data) {
						key = key.substring(5);
						val = key.indexOf('.') === -1 ? data[key] : U.get(data, key);
					}
				} else {
					var six = key.substring(0, 6);
					if (six === 'model.' || six === 'value.') {
						if ($.model) {
							key = key.substring(6);
							val = key.indexOf('.') === -1 ? $.model[key] : U.get($.model, key);
						}
					} else if (six === 'query.')
						val = $.query[key.substring(6)];
					else if (key.substring(0, 7) === 'params.')
						val = $.params[key.substring(7)];
				}
				return val == null ? text : val;
			});

		};

		MAIN.flowtaction.Options = Options;
		MAIN.flowtaction.AsyncFunction = AsyncFunction;
	};

	exports.uninstall = function() {
		delete MAIN.flowtaction;
	};

	exports.make = function(instance, config) {

		var cfg = {};
		var fn;

		instance.message = function($) {
			if (fn) {

				var opt = new MAIN.flowtaction.Options($);
				opt.strerr = cfg.strerr;

				// check user
				if (cfg.user || cfg.permissions) {
					if (!opt.user) {
						opt.invalid(401);
						return;
					}
					if (cfg.permissions) {
						let permissions = cfg.permissions.slice(0);
						permissions.unshift($);
						if (UNAUTHORIZED.apply(global, permissions))
							return;
					}
				}

				// check data
				let tmp;

				if (cfg.input) {
					tmp = cfg.input.transform(opt.payload || {}, cfg.partial, opt.error);
					if (tmp.error) {
						opt.callback(null);
						return;
					}
					opt.payload = tmp.response;
				}

				if (cfg.query) {
					opt.error.prefix = 'query.';
					tmp = cfg.query.transform(opt.query || {}, false, opt.error);
					if (tmp.error) {
						opt.callback(null);
						return;
					}
					opt.query = tmp.response;
				}

				if (cfg.params) {
					opt.error.prefix = 'params.';
					tmp = cfg.params.transform(opt.params || {}, false, opt.error);
					if (tmp.error) {
						opt.callback(null);
						return;
					}
					opt.params = tmp.response;
				}

				opt.error.prefix = '';

				try {
					fn(opt, opt.payload);
				} catch (e) {
					opt.invalid(e);
				}
			} else
				$.send('error', (new ErrorBuilder()).push(501));
		};

		instance.configure = function() {
			fn = config.code.includes('await ') ? new AsyncFunction('$', 'model', config.code) : new Function('$', 'model', config.code);

			cfg.strerr = config.strerr;
			cfg.input = config.input ? config.input.toJSONSchema() : null;
			cfg.query = config.query ? config.query.toJSONSchema() : null;
			cfg.params = config.params ? config.params.toJSONSchema() : null;
			cfg.permissions = config.permissions ? config.permissions.split(',').trim() : null;

			if (cfg.permissions && !cfg.permissions.length)
				cfg.permissions = null;

			cfg.user = config.user;
			cfg.partial = config.partial;
		};

		instance.configure();

	};

</script>

<readme>
This components creates Total.js Actions
</readme>

<settings>
	<div class="padding bg-smoke">
		<ui-component name="input" path="?.user" config="type:checkbox">Request must be authorized</ui-component>
		<ui-component name="input" path="?.partial" config="type:checkbox">Allow partial data</ui-component>
		<ui-component name="input" path="?.strerr" config="type:checkbox">Convert errors to a string</ui-component>
	</div>
	<div class="padding">
		<div class="m">
			<ui-component name="input" path="?.input" config="placeholder:name\:Name, *email\:Email">Payload schema</ui-component>
		</div>
		<div class="m">
			<ui-component name="input" path="?.query" config="placeholder:page\:Number">Query arguments schema</ui-component>
		</div>
		<div class="m">
			<ui-component name="input" path="?.params" config="placeholder:*id\:String">Params schema</ui-component>
		</div>
		<div class="m">
			<ui-component name="input" path="?.permissions" config="placeholder:admin, director">Permissions</ui-component>
		</div>
		<div class="caption m">
			<label>Action's code</label>
		</div>
		<ui-component name="codemirror" path="?.code" config="type:javascript;height:300;tabs:true;trim:true"></ui-component>
	</div>
</settings>

<body>
	<header>
		<i class="$ICON"></i>$NAME
	</header>
</body>