<script total>

	exports.name = 'Array picker';
	exports.group = 'Common';
	exports.author = 'Jakub Urban';
	exports.version = '1.0';
	exports.icon = 'fa fa-bars';
	exports.config = { type: 'head' };
	exports.inputs = [{ id: 'input', name: 'Array' }];
	exports.outputs = [{ id: 'output', name: 'Item' }];

	exports.make = function(instance, config) {

		instance.message = function($) {

			// Array check
			var array = $.data;
			if (!Array.isArray(array))
				return;

			var item = null;

			switch (config.type) {

				case 'head':
					item = array[0];
					break;

				case 'tail':
					item = array[array.length - 1];
					break;

				case 'random':
					item = array[Math.floor(Math.random() * array.length)];
					break;

			}

			instance.send('output', item);
			$.destroy();
		};

	};

</script>

<readme>
	Pick item from array based on your configuration.


	__Configuration types:__
		- __Head__ - First item
		- __Tail__ - Last item
		- __Random__ - Random item
</readme>

<settings>
	<div class="padding">
		<div data---="input__?.type__dirsource:head|Head,tail|Tail,random|Random;required:1">Pick item</div>
	</div>
</settings>

<style>
</style>

<script>
	Thelpers.capitalize = function(value) {
		return value.charAt(0).toUpperCase() + value.slice(1);
	};
</script>

<body>
	<header>
		<i class="ICON"></i>NAME - <b data-bind="CONFIG.type__text__helper:capitalize"></b>
	</header>
</body>