<script total>

	exports.id = 'chatgpt';
	exports.name = 'ChatGPT';
	exports.icon = 'ti ti-robot-alt';
	exports.author = 'Total.js';
	exports.version = '3';
	exports.group = 'Services';
	exports.config = { model: 'gpt-3.5-turbo-instruct', apikey: '', question: '' };
	exports.inputs = [{ id: 'input', name: 'Question' }];
	exports.outputs = [{ id: 'output', name: 'Answer' }, { id: 'error', name: 'Error' }];

	exports.make = function (instance, config) {

		const URL = 'https://api.openai.com/v1/completions';

		var model;
		var cfg;

		instance.message = async function ($) {

			var data = $.data;

			if (!data) {
				$.send('error', 'Input text is missing');
				return;
			}

			switch (cfg.model) {
				case 'gpt-3.5-turbo-instruct':

					if (data.text)
						data = data.text;

					if (typeof data !== 'string') {
						$.send('error', 'Error: Wrong input format');
						return;
					}

					RESTBuilder.POST(URL, { model: cfg.model, prompt: config.question ? (config.question + ' ' + data) : data, temperature: 0, max_tokens: 220, frequency_penalty: 2 }).header('Authorization', 'Bearer ' + cfg.apikey).timeout(60000).keepalive().callback(function (err, response, output) {

						if (err) {
							$.send('error', err);
							return;
						}

						if (response && response.choices) {
							var text = response.choices[0].text;
							$.send('output', text);
						}

					});
					break;
				case 'gpt-3.5-turbo':
				case 'gpt-4':

					var messages = $.data.messages || $.data;

					if (!(messages instanceof Array)) {
						$.send('error', 'Error: Input must be array of messages');
						return;
					}

					if (!messages[0] || !messages[0].role) {
						$.send('error', 'Error: Each message object must have message role attribute : user or assistant or system');
						return;
					}

					config.question && messages.unshift({ role: 'user', content: config.question });


					var url = 'https://api.openai.com/v1/chat/completions';
					RESTBuilder.POST(url, { model: cfg.model, messages: messages }).header('Authorization', 'Bearer ' + cfg.apikey).timeout(60000).keepalive().callback(function (err, response, output) {

						if (err) {
							$.send('error', err);
							return;
						}

						if (response && response.choices) {
							var text = response.choices[0].message.content;

							$.send('output', text);
						}

					});
					break;
				case 'whisper-1':
					var path = $.data.path || $.data;

					var url = 'https://api.openai.com/v1/audio/transcriptions';
					RESTBuilder.POST(url, { model: cfg.model }).header('Authorization', 'Bearer ' + cfg.apikey).file('file', path).timeout(60000).keepalive().callback(function (err, response, output) {

						if (err) {
							$.send('error', err);
							return;
						}

						if (response && response)
							$.send('output', response);

					});

					break;
			}
		};

		instance.configure = function () {
			cfg = instance.replace(config);
		};

		instance.configure();
	};
</script>

<readme>
This component can talk to ChatGPT.

## Input

Input will depend on selected model

- __CPT 3.5 Turbo__ and __CPT 4__
```js

// Object
{
messages : [{ role: 'user', content: 'Text' }]
}

// or


// Array
[{ role: 'assistant', content: 'Text' }]
```

- __Whisper__
```js

// Object
{
path : 'path-to-file'
}

// or


// String
'path-to-file'
```

- __CPT 3.5 Turbo instruct__
```js

// Object
{
text : 'your question'
}

// or


// String
'your question'
```


## Output

Output also depends on selected model
- __CPT 3.5 Turbo__ and __CPT 4__
```js
'Response from assistant'
```

- __Whisper__
```js

// Object
{
text : 'transcipted text'
}
```
- __CPT 3.5 Turbo instruct__
```js

// String
'Response from assistant'
```
</readme>

<settings>
	<div class="padding">
		<div class="m">
			<ui-component name="input" path="?.apikey" config="camouflage:1;required:1">API key</ui-component>
			<div class="help"><a href="https://platform.openai.com/account/api-keys" target="_blank"><i class="ti ti-external"></i>Generate API key</a></div>
		</div>
		<div class="m">
			<ui-component name="input" path="?.model" config="type:select;dirsource:gpt-4|GPT 4,gpt-3.5-turbo|GPT 3.5 Turbo,gpt-3.5-turbo-instruct|GPT 3.5 Turbo instruct,Whisper|whisper-1">Model</ui-component>
		</div>
		<div class="m">
			<ui-component name="input" path="?.question" config="type:multiline">Question</ui-component>
			<div class="help">This question will be added before your messages</div>
		</div>
	</div>
</settings>

<body>
	<header>
		<i class="ICON"></i>NAME
	</header>
</body>