<script total>

	exports.name = 'Code';
	exports.group = 'Common';
	exports.version = '2';
	exports.icon = 'fa fa-code';
	exports.author = 'Peter Širka';
	exports.config = { outputs: 1, code: '// instance {FlowStreamInstance};\n// $ {FlowStreamMessage};\n// vars {Object};\n// repo {Object};\n// data {String/Number/Boolean/Date/Buffer/Object};\n// $.send([output], data);\n// $.destroy();\n// $.throw(err);\n\n// IMPORTANT: If you do not perform re-send, you need to destroy this message via $.destroy() method\n// IMPORTANT: methods $.send(), $.destroy() and $.throw() can be executed only once\n\n// $.send(\'output\', data);\n$.destroy();' };
	exports.inputs = [{ id: 'input', name: 'Input' }];
	exports.outputs = [{ id: 'output', name: 'Output' }];

	exports.make = function(instance, config) {

		var fn;

		instance.message = function($) {
			if (fn) {
				try {
					var send = data => $.send('output', data);
					fn($.data, instance, $, $, F.require, send, $.repo, $.vars, $.data);
				} catch (e) {
					$.destroy();
					$.throw(e);
				}
			}
		};

		instance.configure = function() {
			try {
				if (config.code) {
					instance.status(1);
					fn = new Function('value', 'instance', '$', 'message', 'require', 'send', 'repo', 'vars', 'data', config.code);
				} else {
					instance.status(0);
					fn = null;
				}
			} catch (e) {
				fn = null;
				instance.throw('Code: ' + e.message);
			}
		};

		instance.close = function() {
			fn = null;
		};

		instance.configure();

	};

</script>

<readme>
This component executes a custom JavaScript code as it is.
</readme>

<settings>
	<div class="padding">
		<div class="ui-input-label">Code:</div>
		<div data---="codemirror__?.code__type:javascript;minheight:300;parent:.ui-largeform-body;margin:60;tabs:true;trim:true" class="m"></div>
	</div>
</settings>

<body>
	<header>
		<i class="ICON"></i>NAME
	</header>
</body>