<script total>
	exports.id = 'comment';
	exports.name = 'Comment';
	exports.icon = 'fa fa-comment-alt';
	exports.author = 'Total.js';
	exports.version = '2';
	exports.config = { text: 'Comment' };
	exports.meta = { settingswidth: 1100 };

	exports.make = function(instance, config) {
	};

</script>

<settings>
	<div class="padding">
		<div data---="codemirror__?.text__type:markdown;parent:auto;minheight:300;margin:65"></div>
		<div class="help">Supports Markdown</div>
	</div>
</settings>

<style>
	.CLASS { max-width: 500px !important; }
	.CLASS footer .markdown { padding: 10px; font-size: 12px; border-top: 0 !important; color: #000; }
	.ui-dark .CLASS footer .markdown { color: #F0F0F0; }
</style>

<body>
	<header>
		<button class="button">Open in window</button>
		<i class="ICON"></i>NAME
	</header>
	<footer data-bind="!CONFIG.text__html:value.markdown(el)" class="markdown-small selectable"></footer>
</body>

<script>

	TOUCH(function(exports, reinit) {
		if (!reinit) {
			exports.element.on('click', 'button', function() {
				FUNC.readme('Comment', exports.config.text || '');
			});
		}
	});

</script>
