<script total>

	exports.name = 'Connections';
	exports.icon = 'far fa-chart-network';
	exports.group = 'Linux Monitoring';
	exports.config = { interval: 10, port: 80 };
	exports.outputs = [{ id: 'output', name: 'Output' }, { id: 'error', name: 'Error' }];
	exports.author = 'Peter Širka';

	exports.make = function(instance, config) {

		var stats = { connections: 0 };
		var interval;

		var measure = function() {

			if (config.port <= 0)
				return;

			F.Child.exec('netstat -an | grep :{0} | wc -l'.format(config.port), function(err, response) {

				if (err) {
					instance.send('error', err + '');
					return;
				}

				var connections = response.trim().parseInt2() - 1;

				if (connections < 0)
					connections = 0;

				stats.port = config.port;
				stats.connections = Math.max(stats.connections || 0, connections || 0);
				instance.status(stats);
				instance.send('output', stats);
			});
		};

		instance.configure = function() {
			interval && clearInterval(interval);
			interval = setInterval(measure, config.interval * 1000);
			setImmediate(measure);
		};

		instance.close = function() {
			interval && clearInterval(interval);
			interval = null;
		};

		instance.configure();
	};

</script>

<readme>
This component monitors open connections to the specific port in the Linux systems for the specific process. It uses `netstat` command.

__Data Example__:

```js
{
	port: 80,
	connections: 54
}
```
</readme>

<style>
	.f-connections footer { padding: 10px; font-size: 11px; }
	.f-connections footer > div > div { height: 16px; }
	.f-connections footer b { float: right; }
</style>

<settings>
	<div class="padding">
		<div class="row">
			<div class="col-md-4">
				<div data---="input__?.port__type:number;required:1">Port number</div>
			</div>
			<div class="col-md-4">
				<div data---="input__?.interval__type:number;required:1">Interval</div>
				<div class="help">In seconds</div>
			</div>
		</div>
	</div>
</settings>

<body>
	<header>
		<i class="far fa-chart-network"></i>Connections
	</header>
	<footer>
		<div data-bind="!?.status.{0}__template__show">
			<script type="text/html">
				<div><b>{{ value.port }}</b>Port</div>
				<div><b>{{ value.connections }}x</b>Connections</div>
			</script>
		</div>
	</footer>
</body>