<script total>

	exports.id = 'consoledebug';
	exports.name = 'Console debug';
	exports.group = 'Common';
	exports.version = '1';
	exports.icon = 'ti ti-circle-alt';
	exports.color = '#E73323';
	exports.author = 'Total.js';
	exports.config = { watch: [] };
	exports.meta = { singleton: true };

	exports.make = function(instance, config) {

		var filter = null;

		function ondebug(meta, ...args) {
			if (filter && !filter[meta.id])
				return;
			instance.status({ type: 'debug', date: NOW, data: meta.module.name + ' - ' + Total.Util.format(...args.filter(value => value !== undefined)) });
		};

		instance.main.on('debug', ondebug);

		instance.close = function() {
			instance.main.off('debug', ondebug);
		};

		instance.configure = function() {
			if (config.watch && config.watch.length) {
				filter = {};
				for (let id of config.watch)
					filter[id] = 1;
			} else
				filter = null;
		};

		instance.configure();

	};

</script>

<style>
	.CLASS { border-color: #E73323 !important; }
	.CLASS .area { background: #FEE7E7; }
	.CLASS header i { animation: 1s blink infinite alternate forwards; border-radius: 100px; }
</style>

<readme>
The component can print the payload of incoming messages and `instance.debug()` log messages in JSON format.
</readme>

<settings>
	<div class="padding">
		<ui-component name="input" path="%debugsearch" config="type:search;placeholder:Search components" class="m">Search</ui-component>
		<ui-component name="search" path="%debugsearch" config="selector:figure">
			<ui-component name="selection" path="?.watch" config="datasource:flow.instances;click:figure">
				<ui-bind path="flow.instances" config="template" class="block listing2 small">
					<script type="text/html">
						{{ foreach m in value }}
						{{ if m.Component.id !== 'consoledebug' }}
						<figure data-search="{{ m.id }} {{ m.Component.name }}{{ if m.note }} {{ m.note }}{{ fi }}">
							<section>
								<span class="selection" data-id="{{ m.id }}"><i class="ti ti-eye"></i></span>{{ m.Component.name }}{{ if m.note }}<span class="gray ml10">{{ m.note }}</span>{{ fi }}
							</section>
						</figure>
						{{ fi }}
						{{ end }}
					</script>
				</ui-bind>
			</ui-component>
		</ui-component>
	</div>
</settings>

<body>
	<header>
		<i class="ti ti-bull" style="background:#E73323;color:#FFF"></i><b>$NAME</b>
	</header>
</body>

<script>
	TOUCH(function(exports, reinit) {
		exports.status = function(data) {
			if (data && data.date)
				EXEC('flow/log', 'info', data.date.format('[ts]') + ': ' + data.data);
		};
	});
</script>