<script total>

	exports.name = 'Data parser';
	exports.icon = 'ti ti-compress';
	exports.group = 'Transformations';
	exports.author = 'Total.js';
	exports.version = '1';
	exports.config = { type: '1', convert: false };
	exports.inputs = [{ id: 'input', name: 'Input' }];
	exports.outputs = [{ id: 'output', name: 'Output' }];

	exports.make = function(instance, config) {

		var streamer = null;
		var reg = /,|;/;

		var newmessage = function(data) {

			if (config.convert) {
				if (config.type === '1') {
					var m = data.match(reg);
					data = data.parseCSV(m ? m[0] : ',');
				} else
					data = data.parseXML(true);
			}

			instance.newmessage(data).send('output');
		};

		instance.message = function($) {

			var data = $.data;

			if (typeof(data) === 'string')
				data = Buffer.from(data, 'utf8');

			$.destroy();
			data && streamer && streamer(data);
		};

		instance.configure = function() {
			switch (config.type) {
				case '1':
					streamer = U.streamer('\n', newmessage);
					break;
				case '2':
					streamer = U.streamer(config.beg, config.end, newmessage);
					break;
				default:
					streamer = null;
					break;
			}
		};

		instance.configure();

	};

</script>

<readme>
The component can parse newline data or begin/end phrases in the buffer or string. In addition, it can help with parsing XML or CSV files.
</readme>

<settings>
	<div class="padding">
		<ui-component name="choose" path="?.type__selector:div" class="iconmenu m">
			<div data-id="1">
				<i class="ti ti-arrow-down ti-sync"></i>
				<span>CSV</span>
			</div>
			<div data-id="2">
				<i class="ti ti-code"></i>
				<span>XML</span>
			</div>
		</ui-component>
		<ui-component name="input" path="?.convert" config="type:checkbox">Convert parsed value to the object</ui-component>
	</div>
	<hr class="nmt nmb" />
	<ui-bind path="?.type" config="show:value==='2'" class="padding hidden block">
		<div class="caption m">
			<label><i class="ti ti-cog"></i>Advanced settings</label>
		</div>
		<div class="row">
			<div class="col-md-6 m">
				<ui-component name="input" path="?.beg" config="required:1;placeholder:&lt;PRODUCT&gt;">Begin phrase</ui-component>
			</div>
			<div class="col-md-6 m">
				<ui-component name="input" path="?.end" config="required:1;placeholder:&lt;/PRODUCT&gt;">End phrase</ui-component>
			</div>
		</div>
	</ui-bind>
</settings>

<style>
	.CLASS footer { padding: 10px; font-size: 12px; text-align: center; }
	.CLASS footer ui-bind { font-family: var(--monospace); }
</style>

<body>
	<header>
		<i class="ICON"></i>NAME
	</header>
	<footer>
		<ui-bind path="CONFIG" config="template">
			<script type="text/html">
				<div>{{ if value.type === '1' }}New line{{ else }}<span>{{ value.beg }}</span> - <span>{{ value.end }}</span>{{ fi }}</div>
			</script>
		</ui-bind>
	</footer>
</body>