<script total>

	// Test component for component tester examples

	exports.name = 'Test Increment';
	exports.group = 'common';
	exports.version = '1';
	exports.icon = 'fa fa-bong';
	exports.author = 'Jakub Urban';
	exports.config = { increment: 0 };
	exports.inputs = [{ id: 'number', name: 'Number' }];
	exports.outputs = [{ id: 'output', name: 'Output' }];

	exports.make = function(instance, config) {

		instance.message = function($) {
			const number = $.data + config.increment;
			instance.send('output', number);
			$.destroy();
		};

		instance.trigger = function(data) {
			config.increment += data || 0;
		}

	};

</script>