<script total>

	exports.id = 'filewatcher';
	exports.name = 'File Watcher';
	exports.group = 'Files';
	exports.version = '1';
	exports.icon = 'ti ti-recycle';
	exports.author = 'Total.js';
	exports.config = { path: '', parser: 'json', interval: 1000 };
	exports.outputs = [{ id: 'output', name: 'Output' }];

	exports.make = function(instance, config) {

		var old;
		var timeout;

		var monitor = function() {

			if (!config.path)
				return;

			var path = config.path[0] === '~' ? PATH.root(config.path.substring(1)) : config.path;

			F.Fs.readFile(path, function(err, response) {
				if (response) {
					F.Fs.unlink(path, NOOP);
					NOW = new Date();
					instance.status({ used: NOW, size: response.length });
					timeout = setTimeout(monitor, config.interval);
					switch (config.parser) {
						case 'json':
							response = response.toString('utf8').parseJSON(true);
							break;
						case 'text':
							response = response.toString('utf8');
							break;
						case 'number':
							response = parseFloat(response.toString('utf8').replace(/\,/g, '.'));
							if (isNaN(response))
								response = null;
							break;
						case 'date':
							response = response.toString('utf8').parseDate();
							if (response && isNaN(response.getTime()))
								response = null;
							break;
					}

					if (response !== null)
						instance.send('output', response);

				} else
					timeout = setTimeout(monitor, config.interval);
			});
		};

		instance.configure = function() {
			if (config.path) {
				timeout && clearTimeout(timeout);
				timeout = setTimeout(monitor, config.interval);
			}
		};

		instance.close = function() {
			timeout && clearTimeout(timeout);
			timeout = null;
		};

		instance.configure();

	};

</script>

<settings>
	<div class="padding">
		<div class="row">
			<div class="col-md-9 m">
				<ui-component name="input" path="?.path" config="required:1;placeholder:/www/flowstream/data.json"><b>Path</b></ui-component>
				<div class="help">Absolute path to the file. The path starts with the <code>~</code> char will watch filename in the project's root directory.</div>
			</div>
			<div class="col-md-3 m">
				<ui-component name="input" path="?.interval" config="required:1;type:number;min:100;align:1;ricon:!ms" default="1000">Interval</ui-component>
			</div>
		</div>
		<ui-component name="input" path="?.parser" config="dirsource:json|JSON,text|Text,buffer|Buffer,number|Number,date|Date;required:1" default="'json'" class="m">Parser</ui-component>
	</div>
</settings>

<readme>
The component watches the existence of the file, then reads the content and sends it next. The file will be removed automatically after reading.
</readme>

<style>
	.CLASS footer { padding: 10px; font-size: 12px; }
	.CLASS hr { margin: 5px 0; }
</style>

<body>
	<header>
		<i class="icon"></i>NAME
	</header>
	<footer>
		<div><i class="ti ti-calendar mr5"></i><ui-bind path="STATUS.used" config="text;format:yyyy-MM-dd HH:mm:ss;empty"></ui-bind></div>
		<div><i class="ti ti-calculator mr5"></i><ui-bind path="STATUS.size" config="text;helper:filesize;empty"></ui-bind></div>
		<hr />
		<ui-bind path="CONFIG.path" config="text;empty" class="block"></ui-bind>
	</footer>
</body>