<script total>

	exports.name = 'Flashback';
	exports.group = 'Common';
	exports.version = '2';
	exports.icon = 'fa fa-history';
	exports.author = 'Peter Širka & Jakub Urban';
	exports.inputs = [{ id: 'input', name: 'Input' }];
	exports.outputs = [{ id: 'output', name: 'Output' }];

	exports.make = function(instance, config) {

		var empty = true;
		var status = { empty: true };
		var timeout = null;

		instance.message = function($) {
			status.empty = false;
			status.data = CLONE($.data);
			status.repo = CLONE($.repo);

			$.send('output');

			if (timeout) {
				clearTimeout(timeout);
				timeout = null;
			}

			timeout = setTimeout(() => {
				timeout = null;
				instance.status(status);
			}, 500);

		};

		instance.trigger = function(msg) {
			if (msg.type === 'clear') {
				status.data = null;
				status.repo = null;
				status.empty = true;
				instance.status(status);
			} else {
				var message = instance.newmessage(status.data);
				message.repo = status.repo;
				message.send('output');
			}
		};

		instance.status(status);

	};

</script>

<readme>
The component remembers the data for repeating the action.
</readme>

<style>
	.CLASS { max-width: 250px; min-width: 150px; }
	.CLASS .padding { padding: 0 10px 10px; }
	.CLASS pre { font-size: 10px; margin: 0; padding: 5px; background-color: #F0F0F0; border-radius: var(--radius); }
	.CLASS footer > div { margin: 10px; }
	.CLASS .noscrollbar { max-height: 250px; }
	.ui-dark .CLASS pre { background-color: #404040; tab-size: 2; }
</style>

<script>
	FUNC.fflashback_clear = function(el) {
		SETTER('websocket/send', { TYPE: 'trigger', id: el.attrd2('id'), type: 'clear' });
	};
</script>

<body>
	<header>
		<i class="ICON"></i>NAME
		<button class="exec button hidden" data-exec="FUNC.fflashback_clear" data-bind="STATUS.empty__hide">Clear</button>
	</header>
	<div class="padding">
		<button class="exec button" data-exec="FUNC.trigger" data-bind="STATUS.empty__disabled" disabled>Repeat</button>
	</div>
	<footer>
		<div data-bind="!STATUS__html pre:Thelpers.jsonformat(JSON.stringify(value.data, null, '\t'))__hide:value.empty" class="hidden selectable">
			<div class="noscrollbar">
				<pre class="json"></pre>
			</div>
		</div>
	</footer>
</body>