<script total>

	exports.id = 'fsunlink';
	exports.name = 'Remove file';
	exports.icon = 'ti ti-remove';
	exports.author = 'Peter Širka | Total.js';
	exports.version = '1';
	exports.group = 'Files';
	exports.config = { prop: 'filename' };
	exports.inputs = [{ id: 'input', name: 'Filename' }];
	exports.outputs = [{ id: 'output', name: 'Output' }];

	exports.make = function(instance, config) {

		instance.message = function($) {
			let filename = $.data;

			if (filename && typeof(filename) === 'object')
				filename = filename[config.prop];

			if (typeof(filename) === 'string') {
				Total.Fs.unlink(filename, function(err) {
					if (err)
						instance.throw(err);
					$.send('output');
				});
			} else
				$.send('output');
		};

	};

</script>

<readme>
This component removes file according to the configuration path.

__Payload__:

```js
String

// or

{
	filename: 'String'
}
```

__Output__:

Incoming payload.
</readme>

<settings>
	<div class="padding">
		<ui-component name="input" path="?.prop" config="required:1;monspace:1">Read filename from the property</ui-component>
	</div>
</settings>


<body>
	<header>
		<i class="$ICON"></i>$NAME
	</header>
</body>