<script total>

	exports.name = 'HTTP Route';
	exports.group = 'Triggers';
	exports.icon = 'fa fa-route';
	exports.version = '1';
	exports.config = { url: '', method: '', timeout: 5000, limit: 5120, upload: false, response: 'empty' };
	exports.outputs = [{ id: 'output', name: 'Output' }];

	exports.make = function(instance, config) {

		var prev = '';
		var action = function(opt, next) {

			var msg = instance.newmessage(opt);

			if (config.response === 'empty') {
				next({ type: 'empty' });
			} else {
				if (config.response === 'custom')
					msg.refs.response = next;
				else
					msg.on('end', msg => next({ type: config.response, body: msg.data instanceof Buffer ? msg.data.toString('base64') : msg.data }));
			}

			msg.send('output');
		};

		instance.configure = function() {

			if (prev) {
				instance.httproute(prev, null);
				prev = '';
			}

			if (config.url && config.method) {
				prev = config.method + ' ' + config.url + ' #' + config.timeout + ' #' + config.limit + (config.upload ? ' #upload' : '');
				instance.httproute(prev, action);
			}

		};

		instance.configure();
	};

</script>

<readme>
This component registers an HTTP Route and sends request data next.

__Output data__:

```js
{
	"route": String,
	"params": Object,
	"query": Object,
	"body": Object,
	"files": Array,
	"headers": Object,
	"url": String,
	"ip": String,
	"cookies": Object
}
```
</readme>

<settings>
	<div class="padding">
		<div class="row">
			<div class="col-md-3 m">
				<div data---="input__?.method__required:1;dirsource:GET|GET,POST|POST,PUT|PUT,PATCH|PATCH,DELETE|DELETE">Method</div>
			</div>
			<div class="col-md-9 m">
				<div data---="input__?.url__required:1">Relative URL address</div>
				<div class="help">Relative path to: <span data-bind="window.location.origin__text"></span></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 m">
				<div data---="input__?.timeout__required:1;type:number">Timeout</div>
			</div>
			<div class="col-md-3 m">
				<div data---="input__?.limit__required:1;type:number;ricon:!kB;align:1">Request limit</div>
			</div>
			<div class="col-md-6 m">
				<div data---="input__?.response__required:1;dirsource:empty|Empty response,json|JSON,text|Text,html|HTML,xml|XML,custom|Custom">Response</div>
			</div>
		</div>
	</div>
</settings>

<style>
	.CLASS footer { padding: 10px; }
	.CLASS footer span { font-family: var(--monospace); }
	.CLASS footer .method { background-color: var(--color); color: #FFF; padding: 2px 3px; border-radius: var(--radius); }
</style>

<body>
	<header>
		<i class="ICON"></i>NAME
	</header>
	<footer>
		<div><span data-bind="CONFIG.method__text" class="method"></span> <a data-bind="CONFIG.url__text__href:window.location.origin + value" target="_blank"></a></div>
	</footer>
</body>