<script total>

	exports.name = 'Input';
	exports.group = 'FlowStream';
	exports.version = '1';
	exports.icon = 'ti ti-wifi';
	exports.author = 'Total.js';
	exports.config = { name: '', readme: '' };
	exports.outputs = [{ id: 'data', name: 'Data' }];
	exports.type = 'input';

	exports.make = function(instance, config) {

		instance.input = function(fromflowstreamid, fromid, data) {
			instance.send('data', data);
		};

	};

</script>

<settings>
	<div class="padding">
		<div data---="input__?.name__required:1" class="m"><b>Input name</b></div>
		<div data---="input__?.readme__monospace:1;type:multiline;height:250">Readme</div>
		<div class="help">Supports markdown format</div>
	</div>
</settings>

<readme>
The component receives data from a `Publish` component from another FlowStream instance.
</readme>

<body>
	<header>
		<i class="ICON"></i>NAME: <b data-bind="CONFIG.name__text__empty"></b>
	</header>
</body>