<script total>

	exports.name = 'Input';
	exports.group = 'Common';
	exports.version = '1';
	exports.icon = 'fa fa-filter';
	exports.author = 'Peter Širka';
	exports.config = { name: '', readme: '' };
	exports.outputs = [{ id: 'data', name: 'Data' }];
	exports.type = 'input';

	exports.make = function(instance, config) {

		instance.input = function(data) {
			instance.send('data', data);
		};

	};

</script>

<settings>
	<div class="padding">
		<div data---="input__?.name__required:1" class="m"><b>Input name</b></div>
		<div data---="textarea__?.readme__monospace:1;height:250">Readme</div>
		<div class="help">Supports markdown format</div>
	</div>
</settings>

<readme>
The component receives data from another FlowStream.
</readme>

<body>
	<header>
		<i class="fa fa-filter"></i>Input: <b data-bind="?.config.{0}.name__text__empty"></b>
	</header>
</body>