<script total>

	exports.id = 'logger';
	exports.name = 'Logger';
	exports.group = 'Total.js API';
	exports.version = '2';
	exports.icon = 'ti ti-search';
	exports.author = 'Total.js';
	exports.config = { token: '', type: 'info', message: '', reference: '', url: '' };
	exports.inputs = [{ id: 'input', name: 'Input' }];

	exports.make = function(instance, config) {

		instance.message = function($) {
			var msg = {};
			msg.schema = instance.main.$schema.name;
			msg.ip = $.ip;
			msg.data = JSON.stringify($.data);
			msg.url = config.url || instance.href() || CONF.url;
			msg.app = config.name || CONF.name;
			msg.type = config.type;
			msg.message = $.variables(config.message);
			$.destroy();
			TotalAPI($.variables(config.token), 'logger', msg, function(err) {
				instance.status({ response: err ? err.toString() : '' });
			});
		};

	};

</script>

<style>
	.CLASS .error { font-size: 12px; padding: 10px; color: red; }
</style>

<readme>
The component logs incoming messages into the Total.js Cloud Logger.
</readme>

<settings>
	<div class="padding bg-smoke">
		<ui-component name="input" path="?.token" config="required:1;camouflage:*">Total API token</ui-component>
		<div class="help">Supports dynamic arguments in the form <code>{key}</code></div>
	</div>
	<div class="padding">
		<div class="row">
			<div class="col-md-3 m">
				<ui-component name="input" path="?.type" config="dirsource:info|Info,error|Error,warning|Warning,success|Success;required:1">Type</ui-component>
			</div>
			<div class="col-md-3 m">
				<ui-component name="input" path="?.app">App name</ui-component>
			</div>
			<div class="col-md-3 m">
				<ui-component name="input" path="?.reference">Reference</ui-component>
			</div>
			<div class="col-md-3 m">
				<ui-component name="input" path="?.url">URL address</ui-component>
			</div>
		</div>
		<ui-component name="input" path="?.message" config="required:1;maxlength:200">Message</ui-component>
		<div class="help">Supports dynamic arguments in the form <code>{key}</code></div>
	</div>
</settings>

<body>
	<header>
		<i class="ICON"></i>NAME
	</header>
	<footer>
		<ui-bind path="!STATUS.response" config="text;show" class="error hidden"></ui-bind>
	</footer>
</body>