<script total>

	exports.name = 'Model';
	exports.group = 'Transformations';
	exports.icon = 'fab fa-wpforms';
	exports.author = 'Total.js';
	exports.version = '2';
	exports.config = { name: 'Model', path: '', schema: [], rewrite: true };
	exports.inputs = [{ id: 'input', name: 'Data' }, { id: 'partial', name: 'Partial data' }];
	exports.outputs = [{ id: 'output', name: 'Output' }, { id: 'error', name: 'Error' }];
	exports.meta = { settingswidth: 1200 };

	exports.make = function(instance, config) {

		var deferr = 'Invalid value';
		var defvalues = {};
		var path;

		var preparenumber = function(val, err, max, min, float) {
			if (val != null && val != '') {
				val = typeof(val) === 'string' ? (float ? val.parseFloat() : val.parseInt()) : val;
				val = max ? (val > max || val < min ? null : val) : val;
			} else
				val = null;
			return val;
		};

		instance.preparedata = function(item, val, err, parent, partial) {

			var path = (parent ? (parent + '.') : '') + item.name;

			switch (item.type) {
				case 'string':
					if (val == null)
						val = defvalues[item.name] || '';
					else
						val += '';
					if (item.required && !val)
						err.push({ name: item.name, path: path, error: item.error || deferr });
					return val;

				case 'upper':
					if (val == null)
						val = defvalues[item.name] || '';
					else
						val += '';
					if (item.required && !val)
						err.push({ name: item.name, path: path, error: item.error || deferr });
					return val ? val.toUpperCase() : '';

				case 'lower':
					if (val == null)
						val = defvalues[item.name] || '';
					else
						val += '';
					if (item.required && !val)
						err.push({ name: item.name, path: path, error: item.error || deferr });
					return val ? val.toLowerCase() : '';

				case 'capitalize':
					if (val == null)
						val = defvalues[item.name] || '';
					else
						val += '';
					if (item.required && !val)
						err.push({ name: item.name, path: path, error: item.error || deferr });
					return val ? val.capitalize() : '';

				case 'email':
					if (val == null)
						val = defvalues[item.name] || '';
					else
						val += '';
					val = val.replace(/\s/g, '');
					val = val && val.isEmail() ? val : '';

					if (item.required && !val)
						err.push({ name: item.name, path: path, error: item.error || deferr });

					return val;

				case 'phone':
					if (val == null)
						val = defvalues[item.name] || '';
					else
						val += '';
					val = val.trim().replace(/\s|\.|-|\(|\)/g, '');
					val = val && val.isPhone() ? val : '';

					if (item.required && !val)
						err.push({ name: item.name, path: path, error: item.error || deferr });

					return val;

				case 'boolean':

					if (val == null)
						return defvalues[item.name] || false;

					return val == true || val === 'on' || val === 'true' || val == 1;

				case 'zip':
					if (val == null)
						val = defvalues[item.name] || '';
					else
						val += '';
					val = val.replace(/\s/g, '');
					val = val && val.isZIP() ? val : '';

					if (item.required && !val)
						err.push({ name: item.name, path: path, error: item.error || deferr });

					return val;

				case 'date':
					if (val) {
						if (val instanceof Date)
							return val;
						switch (typeof(val)) {
							case 'string':
							case 'number':
								val = val.parseDate();
								break;
						}
						if (!(val instanceof Date) || isNaN(val))
							val = null;
					} else
						val = defvalues[item.name] ? (defvalues[item.name] == NOOP ? new Date() : defvalues[item.name]) : null;

					if (item.required && !val)
						err.push({ name: item.name, path: path, error: item.error || deferr });
					return null;

				case 'object':

					if (val == null && defvalues[item.name] != null)
						val = defvalues[item.name];

					return val;

				case 'number':
				case 'float':
					val = preparenumber(val, err, null, true);

					if (val == null && defvalues[item.name] != null)
						val = defvalues[item.name];

					if (item.required && val == null)
						err.push({ name: item.name, path: path, error: item.error || deferr });
					return val || 0;
				case 'integer':
					var max = 2147483647;
					val = preparenumber(val, err, max, -max);

					if (val == null && defvalues[item.name] != null)
						val = defvalues[item.name];

					if (item.required && val == null)
						err.push({ name: item.name, path: path, error: item.error || deferr });
					return val || 0;
				case 'smallint':
					var max = 32768;
					val = preparenumber(val, err, max, -max);

					if (val == null && defvalues[item.name] != null)
						val = defvalues[item.name];

					if (item.required && val == null)
						err.push({ name: item.name, path: path, error: item.error || deferr });
					return val || 0;
				case 'tinyint':
					val = preparenumber(val, err, 255, 0);

					if (val == null && defvalues[item.name] != null)
						val = defvalues[item.name];

					if (item.required && val == null)
						err.push({ name: item.name, path: path, error: item.error || deferr });
					return val || 0;
				case 'base64':

					if (val == null)
						val = defvalues[item.name] || '';
					else
						val += '';

					val = val.isBase64() ? val : '';

					if (item.required && !val)
						err.push({ name: item.name, path: path, error: item.error || deferr });

					return val;

				case 'json':

					if (val == null)
						val = defvalues[item.name] || '';
					else
						val += '';

					val = val.isJSON() ? val : '';
					if (item.required && !val)
						err.push({ name: item.name, path: path, error: item.error || deferr });
					return val;

				case 'url':

					if (val == null)
						val = defvalues[item.name] || '';
					else
						val += '';

					val = val.isURL() ? val : '';

					if (item.required && !val)
						err.push({ name: item.name, path: path, error: item.error || deferr });

					return val;

				case 'uid':

					if (val == null)
						val = defvalues[item.name] || '';
					else
						val += '';

					val = val.trim();
					val = val.isUID() ? val : '';

					if (item.required && !val)
						err.push({ name: item.name, path: path, error: item.error || deferr });

					return val;

				case 'guid':

					if (val == null)
						val = defvalues[item.name] || '';
					else
						val += '';

					val = val.trim();
					val = val.isGUID() ? val : '';

					if (item.required && !val)
						err.push({ name: item.name, path: path, error: item.error || deferr });

					return val;

				default:
					var model = instance.main.meta.flow[item.type];
					return model ? model.validatedata(val || {}, err, partial, path).data : null;
			}
		};

		instance.validatedata = function(data, err, partial, parent) {

			var obj = {};
			var plus = parent ? (parent + '.') : '';

			if (!err)
				err = [];

			if (typeof(data) !== 'object') {
				data = data + '';
				if (data.isJSON()) {
					data = data.parseJSON(true);
				} else {
					err.push({ name: parent, error: 'Invalid data' });
					return { error: err };
				}
			}

			if (!data) {
				err.push({ name: parent, error: 'Invalid data' });
				return { error: err };
			}

			for (var item of config.schema) {
				var val = data[item.name];

				if (partial && val === undefined)
					continue;

				if (item.array) {

					obj[item.name] = [];

					if (val) {

						if (!(val instanceof Array))
							val = [val];

						for (var i = 0; i < val.length; i++) {
							var m = val[i];
							var r = instance.preparedata(item, m, err, plus, partial);
							obj[item.name].push(r);
						}

					}

					if (item.required && !obj[item.name].length)
						err.push({ name: item.name, path: plus + item.name, error: deferr });

				} else
					obj[item.name] = instance.preparedata(item, val, err, parent, partial);
			}

			return { data: obj, error: err.length ? err : null };
		};

		var findvalue = function(data) {
			var obj = data;
			for (var m of path) {
				obj = obj[m];
				if (!obj)
					return null;
			}
			return obj;
		};

		instance.message = function($) {

			var data = $.data;

			if (path)
				data = findvalue(data);

			var err = [];
			var output = instance.validatedata(data, err, $.input === 'partial');

			if (output.error) {
				$.send('error', output.error);
			} else {
				if (path && config.rewrite)
					data = output.data;
				$.send('output', path && config.rewrite ? $.data : output.data);
			}
		};

		instance.configure = function() {
			path = config.path ? config.path.split('.') : null;
			defvalues = {};
			for (var item of config.schema) {
				if (item.default) {
					switch (item.type) {
						case 'tinyint':
						case 'smallint':
						case 'integer':
						case 'number':
						case 'float':
							defvalues[item.name] = item.default.parseFloat();
							break;
						case 'object':
							try {
								defvalues[item.name] = new Function('return ' + item.default)();
							} catch (e) {
								instance.throw(e);
							}
							break;
						case 'date':
							defvalues[item.name] = item.default === 'now' ? NOOP : item.default.parseDate('yyyy-MM-dd HH:mm:ss');
							break;
						case 'boolean':
							defvalues[item.name] = item.default === 'true' || item.default === 'on' || item.default === '1';
							break;
						default:
							defvalues[item.name] = item.default;
							break;
					}
				}
			}
		};

		instance.configure();

	};

</script>

<readme>
This component prepares incoming data according to the defined schema. Output is prepared model or Error.
</readme>

<settings>
	<div class="CLASS-settings">
		<div class="padding bg-smoke">
			<div data---="input__?.name__required:1" class="m">Model name</div>
			<div data---="input__?.path__placeholder:path.to.property;monospace:1">Load data from the specific property/field</div>
			<div class="help">Optional. The data for the model will be loaded from the specific property/field.</div>
			<div data-bind="?.path__show" class="hidden">
				<hr />
				<div data---="input__?.rewrite__type:checkbox"><b>Rewrite value only</b> (otherwise, it will replace entire message data)</div>
			</div>
		</div>
		<div class="padding">
			<div class="caption m">
				<div class="toolbar">
					<nav>
						<button class="exec" data-exec="tmprestmodel.add"><i class="fa fa-plus-circle"></i>Add</button>
					</nav>
				</div>
				<label>Fields</label>
			</div>
			<div data-bind="?.schema__template:figure --> data-id__show:value && value.length" class="fields m">
				<script type="text/html">
					{{ foreach m in value }}
					<figure data-id="{{ m.id }}"{{ if m.required }} class="isrequired"{{ fi }}>
						<div class="controls">
							<span class="exec" data-exec="tmprestmodel.move" data-type="up" title="Move up"><i class="far fa fa-arrow-up"></i></span>
							<span class="exec" data-exec="tmprestmodel.move" data-type="down" title="Move down"><i class="far fa fa-arrow-down"></i></span>
							<span class="exec" data-exec="tmprestmodel.rem" title="Remove"><i class="far fa-trash-alt red"></i></span>
						</div>
						<div class="required exec{{ if m.required }} is{{ fi }}" data-exec="tmprestmodel.required">required</div>
						<div class="array exec{{ if m.array }} is{{ fi }}" data-exec="tmprestmodel.array">Array</div>
						<div class="type hellip exec monospace" data-exec="tmprestmodel.type">{{ m.type | restmodeltype | raw }}</div>
						<div class="default">
							<div class="edit monospace b" data-edit="exec:tmprestmodel.default;selectall:1">{{ m.default | empty }}</div>
							<div class="help nmt">Default value</div>
						</div>
						<div class="name">
							<div class="monospace edit hellip" data-edit="exec:tmprestmodel.name;required:1">{{ m.name }}</div>
							<div class="error">Error message: <span class="edit hellip" data-edit="exec:tmprestmodel.error;required:1">{{ m.error | empty('Invalid value') }}</span></div>
						</div>
					</figure>
					{{ end }}
				</script>
			</div>
			<div class="message message-alert">If you want to declare a nested object, then you can create another model and link it with this model.</div>
		</div>
	</div>
</settings>

<style>
	.CLASS { min-width: 220px; }
	.CLASS footer { padding: 10px; font-size: 11px; }
	.CLASS-settings .fields { border: 1px solid #E0E0E0; border-radius: var(--radius); }
	.CLASS-settings figure { height: 40px; border-top: 1px solid #E0E0E0; line-height: 39px; font-size: 12px; }
	.CLASS-settings figure:first-child { border-top: 0; line-height: 40px; }
	.CLASS-settings figure .edit-open { background-color: #F0F0F0; }
	.CLASS-settings figure .name { margin-right: 350px; padding: 6px 8px 0; line-height: 14px; }
	.CLASS-settings figure .name > div:first-child { font-weight: bold; outline: 0; }
	.CLASS-settings figure .error { font-size: 11px; color: #888; }
	.CLASS-settings figure .error span { color: #B9261A; outline: 0; min-width: 150px; }
	.CLASS-settings figure .default { float: right; width: 180px; border-left: 1px solid #E0E0E0; padding: 0 8px; cursor: pointer; line-height: 16px; padding-top: 4px; height: 40px; }
	.CLASS-settings figure .type { float: right; width: 180px; border-left: 1px solid #E0E0E0; padding: 0 8px; cursor: pointer; background-color: rgba(0,0,0,0.03); }
	.CLASS-settings figure .required { float: right; width: 70px; padding: 0 8px; border-left: 1px solid #E0E0E0; text-align: center; font-size: 11px; cursor: pointer; text-decoration: line-through; }
	.CLASS-settings figure .required.is { font-weight: bold; text-decoration: none; color: #EC8632; }
	.CLASS-settings figure .array { float: right; width: 70px; padding: 0 8px; border-left: 1px solid #E0E0E0; text-align: center; font-size: 11px; cursor: pointer; text-decoration: line-through;}
	.CLASS-settings figure .array.is { font-weight: bold; text-decoration: none; color: #EC8632; }
	.CLASS-settings figure .controls { float: right; width: 70px; padding: 0; margin: 0; border-left: 1px solid #E0E0E0; text-align: center; }
	.CLASS-settings figure .controls span { cursor: pointer; margin-left: 5px; }
	.CLASS-settings figure .controls span:first-child { margin-left: 0; }
	.CLASS-settings figure.isrequired { background-color: rgba(255,254,209,0.3); }
	.CLASS-settings figure.ismoved { background-color: rgba(92,29,196,0.3) !important; }

	.ui-dark .CLASS-settings .fields { border-color: #404040; }
	.ui-dark .CLASS-settings figure.isrequired { background-color: rgba(255,254,209,0.1); }
	.ui-dark .CLASS-settings figure .edit-open { background-color: #363636; }
	.ui-dark .CLASS-settings figure .default { border-color: #404040; }
	.ui-dark .CLASS-settings figure { border-top-color: #404040; }
	.ui-dark .CLASS-settings figure .type { border-left-color: #404040; background-color: rgba(100,100,100,0.1); }
	.ui-dark .CLASS-settings figure .required { border-left-color: #404040; }
	.ui-dark .CLASS-settings figure .array { border-left-color: #404040; }
	.ui-dark .CLASS-settings figure .controls { border-left-color: #404040; }
</style>

<body>
	<header>
		<i class="ICON"></i><b>Model:</b> <span data-bind="CONFIG.name__text"></span>
	</header>
	<footer>
		<span class="exec link" data-exec="/copy"><i class="far fa-copy mr5"></i>Copy fields as Markdown</span>
	</footer>
</body>

<script>

	TOUCH(function(exports, reinit) {

		exports.settings = function(meta) {

			var tmp = W.tmprestmodel;

			if (!tmp) {

				tmp = {};
				tmp.add = function(el) {
					var scope = el.scope();
					scope.push('schema', { id: Math.random().toString(36).substring(4), name: 'name', type: 'string', required: true, array: false });
					scope.change('*');
				};

				tmp.rem = function(el) {
					var id = ATTRD(el);
					var scope = el.scope();
					var model = scope.get();
					var index = model.schema.findIndex('id', id);
					model.schema.splice(index, 1);
					scope.update('schema');
					scope.change('*');
				};

				tmp.type = function(el) {
					var opt = {};
					opt.element = el;
					opt.align = 'left';
					opt.raw = true;
					opt.items = tmp.types;
					opt.callback = function(selected) {
						var scope = el.scope();
						var id = ATTRD(el);
						var item = scope.get().schema.findItem('id', id);
						if (item)
							item.type = selected.id;
						el.html(selected.name);
						scope.change('*');
					};
					SETTER('directory/show', opt);
				};

				tmp.name = function(opt, next) {
					opt.value = opt.value.replace(/(;|\s|,)/g, '').trim();
					if (opt.value) {
						var scope = opt.element.scope();
						var id = ATTRD(opt.element);
						var item = scope.get().schema.findItem('id', id);
						item.name = opt.value;
						scope.change('*');
						next(true);
					} else
						next(opt.html);
				};

				tmp.move = function(el) {

					var scope = el.scope();
					var id = ATTRD(el);
					var container = el.closest('figure');
					var schema = scope.get().schema;
					var index = schema.findIndex('id', id);
					var is = false;
					var isup = el.attrd('type') === 'up';

					if (isup) {
						if (index > 0) {
							var a = schema[index];
							schema[index] = schema[index - 1];
							schema[index - 1] = a;
							is = true;
						}
					} else {
						if (index <= schema.length - 1) {
							var a = schema[index];
							schema[index] = schema[index + 1];
							schema[index + 1] = a;
							is = true;
						}
					}

					if (is) {
						NODEMOVE(container, isup);
						scope.change('*');
						container.aclass('ismoved').rclass('ismoved', 500);
					}
				};

				tmp.default = function(opt, next) {
					if (opt.value) {
						var scope = opt.element.scope();
						var id = ATTRD(opt.element);
						var item = scope.get().schema.findItem('id', id);

						if (opt.value === '---')
							delete opt.value;

						item.default = opt.value || undefined;
						scope.change('*');
						next(true);
					} else
						next(opt.html);
				};

				tmp.error = function(opt, next) {
					if (opt.value) {
						var scope = opt.element.scope();
						var id = ATTRD(opt.element);
						var item = scope.get().schema.findItem('id', id);
						item.error = opt.value || undefined;
						scope.change('*');
						next(true);
					} else
						next(opt.html);
				};

				tmp.required = function(el) {
					var id = ATTRD(el);
					var scope = el.scope();
					var item = scope.get().schema.findItem('id', id);
					item.required = !item.required;
					el.tclass('is', item.required);
					el.closest('figure').tclass('isrequired', item.required);
					scope.change('*');
				};

				tmp.array = function(el) {
					var id = ATTRD(el);
					var scope = el.scope();
					var item = scope.get().schema.findItem('id', id);
					item.array = !item.array;
					el.tclass('is', item.array);
					scope.change('*');
				};

				Thelpers.restmodeltype = function(val) {
					return tmp.types.findValue('id', val, 'name', DEF.empty);
				};

				W.tmprestmodel = tmp;
			}

			tmp.types = [];
			tmp.types.push({ id: 'string', name: 'String' });
			tmp.types.push({ id: 'number', name: 'Number' });
			tmp.types.push({ id: 'email', name: 'Email address' });
			tmp.types.push({ id: 'phone', name: 'Phone number' });
			tmp.types.push({ id: 'boolean', name: 'Boolean' });
			tmp.types.push({ id: 'zip', name: 'ZIP' });
			tmp.types.push({ id: 'date', name: 'Date' });
			tmp.types.push({ id: 'float', name: 'Float' });
			tmp.types.push({ id: 'integer', name: 'Integer' });
			tmp.types.push({ id: 'tinyint', name: 'Tinyint' });
			tmp.types.push({ id: 'smallint', name: 'Smallint' });
			tmp.types.push({ id: 'upper', name: 'String - Upper case' });
			tmp.types.push({ id: 'lower', name: 'String - Lower case' });
			tmp.types.push({ id: 'slug', name: 'String - Slug' });
			tmp.types.push({ id: 'capitalize', name: 'String - Capitalize' });
			tmp.types.push({ id: 'uid', name: 'UI' + 'D' });
			tmp.types.push({ id: 'guid', name: 'GUI' + 'D' });
			tmp.types.push({ id: 'object', name: 'Object' });
			tmp.types.push({ id: 'json', name: 'JSON' });
			tmp.types.push({ id: 'base64', name: 'Base64' });

			for (var key in flow.data) {
				var m = flow.data[key];
				if (m.Component && m.Component.name === 'Model')
					tmp.types.push({ id: m.id, name: 'Model: <b>' + m.config.name.encode() + '</b>' });
			}

		};

		exports.copy = function(el) {

			var config = exports.config;
			var builder = [];

			builder.push('__Model: ' + config.name + '__:');
			builder.push('');

			for (var m of config.schema) {

				var type = m.type;
				if (type.charAt(0) === 'i' && type !== 'integer') {
					var tmp = flow.data[type];
					if (tmp)
						type = tmp.config.name;
					else
						continue;
				}
				builder.push('- `{0} {{1}}`'.format(m.name, type) + (m.array ? ' array' : '') + (m.required ? ' __required__' : ''));
			}

			SETTER('clipboard/copy', builder.join('\n'));
			SETTER('notify/success', 'The schema has been copied into the clipboard');
		};

	});

</script>