<script total>

	exports.id = 'mqttbroker';
	exports.name = 'MQTT Broker';
	exports.icon = 'ti ti-exchange';
	exports.group = 'MQTT';
	exports.config = { host: 'localhost', port: 1883, secure: false };
	exports.outputs = [{ id: 'output', name: 'Messages' }];
	exports.author = 'Martin Smola | Total.js';
	exports.version = '4';
	exports.npm = ['mqtt'];
	exports.flags = ['mqttbroker'];

	exports.make = function(instance, config) {

		const mqtt = require('mqtt');
		var client;
		const subscribtions = {};

		const state = () => {
			var obj;
			if (!client) {
				obj = { connected: false, connecting: false, disconnected: true, disconnnecting: false, status: 'disconnected' };
			} else {
				const { connected, disconnecting, reconnecting } = client;
				obj = { connecting: client.stream ? client.stream.connecting : false, connected, disconnecting, reconnecting };
				const current = Object.keys(obj).filter(s => obj[s]);
				obj.status = current.length ? current[0] : 'disconnected';
			}

			instance.state = { status: obj.status, name: config.host + ':' + config.port };
			instance.status(instance.state);
			return obj;
		};

		instance.configure = function() {
			disconnect(connect);
		};

		instance.close = function() {
			disconnect(notifypubsub);
		};

		instance.configure();

		function disconnect(callback) {
			if (!client)
				return callback && callback();

			if (client.end)
				client.end(true, cb);
			else
				cb();

			function cb() {
				client.removeAllListeners();
				client = null;
				callback && callback();
			};
		};

		function connect() {

			state();

			var broker = config.secure ? 'mqtts://' : 'mqtt://' + config.host + ':' + config.port;
			config.name = '[MQTT] ' + config.host + ':' + config.port;
			var opt = CLONE(config);
			delete opt.auth;
			client = mqtt.connect(broker, opt);

			client.on('connect', function() {
				state();
				notifypubsub();
			});

			client.on('reconnect', function() {
				state();
			});

			client.on('message', function(topic, message) {
				message = message.toString();
				if (message[0] === '{' || message[0] === '[')
					message = message.parseJSON(true);

				onmessage(topic, message);
			});

			client.on('close', function(err) {
				console.log(config.name + ' close', err);
				state();
			});

			client.on('error', function(err) {
				console.log(config.name + ' error', err);
				state();
			});
		};

		function onmessage(topic, message) {
			let ts = new Date();
			for (const sub in subscribtions) {
				var match = mqttWildcard(topic, sub);
				if (match) {
					const ids = subscribtions[sub];
					const len = ids.length;
					for (let i = 0; i < len; i++) {
						const com = instance.main.find(ids[i]);
						com && com.onmessage(topic, message, match, ts);
					}
				}
			}
			instance.send('output', { topic, message, ts });
		}

		instance.publish = function(topic, message, options) {
			var isstring = typeof(message) === 'string';
			var data = '';
			if (isstring)
				data = message;
			else
				try {
					data = JSON.stringify(message);
				} catch(e) {}

			client && client.publish(topic, data, options, function(err){
				if (err)
					console.log(config.name + ' publish error', err);
			});
		};

		instance.subscribe = function(componentid, topic) {
			var self = this;
			subscribtions[topic] = subscribtions[topic] || [];
			if (subscribtions[topic].indexOf(componentid) > -1)
				return;

			client.subscribe(topic);
			subscribtions[topic].push(componentid);
		};

		instance.unsubscribe = function(componentid, topic) {
			var self = this;
			var sub = subscribtions[topic];
			if (sub) {
				subscribtions[topic] = sub.remove(componentid);
				client && client.connected && !subscribtions[topic].length && client.unsubscribe(topic);
			}
		};

		function notifypubsub() {
			var instances = instance.main.instances().filter(i => i.module.flags && i.module.flags.includes('mqttbroker-dep') > -1 && i.config.broker === instance.id);
			for (let com of instances)
				com.configure();
		}

		// https://github.com/hobbyquaker/mqtt-wildcard
		function mqttWildcard(topic, wildcard) {
			if (topic === wildcard) {
				return [];
			} else if (wildcard === '#') {
				return [topic];
			}

			var res = [];

			var t = String(topic).split('/');
			var w = String(wildcard).split('/');

			var i = 0;
			for (var lt = t.length; i < lt; i++) {
				if (w[i] === '+') {
					res.push(t[i]);
				} else if (w[i] === '#') {
					res.push(t.slice(i).join('/'));
					return res;
				} else if (w[i] !== t[i]) {
					return null;
				}
			}

			if (w[i] === '#') {
				i += 1;
			}

			return (i === w.length) ? res : null;
		}
	};

</script>

<readme></readme>

<style>
	.CLASS footer > ui-bind { padding: 10px; font-size: 11px; }
	.CLASS footer > ui-bind > div { height: 16px; }
	.CLASS footer b { float: right; }
</style>

<settings>
	<div class="padding">
		<div class="row">
			<div class="col-md-8 m">
				<ui-component name="input" path="?.host" config="placeholder:test.mosquitto.org;required:1;monospace:1" >Hostname or IP address</ui-component>
			</div>
			<div class="col-md-4">
				<ui-component name="input" path="?.port" config="type:number;placeholder:1883;required:1;monospace:1;format:">Port</ui-component>
			</div>
		</div>
		<div>
			<ui-component name="input" path="?.clientid" config="monospace:1">Client ID</ui-component>
			<div class="help m">Supports variables, example: <code>client_{device-id}</code></div>
			<ui-component name="input" path="?.secure" config="type:checkbox">Secure (SSL)</ui-component>
		</div>

		<ui-component name="input" path="?.auth" config="type:checkbox">Require Authorization</ui-component>

		<ui-bind path="?.auth" config="show" class="block hidden">
			<div class="panel" style="margin:15px 0">
				<label>Authorization</label>
				<div class="padding">
					<div>
						<div class="grid-2">
							<ui-component name="input" path="?.username" config="required:1" class="m">Username</ui-component>
							<ui-component name="input" path="?.password" config="type:password;required:1" class="m">Password</ui-component>
						</div>
					</div>
				</div>
			</div>
		</ui-bind>

		<ui-component name="input" path="?.lwt" config="type:checkbox" class="m">Last will topic (LWT)</ui-component>

		<ui-bind path="?.lwt" config="show" class="block hidden">
			<div class="panel" style="margin:15px 0">
				<label>Last will topic</label>
				<div class="padding">
					<div>
						<div class="grid-2">
							<div class="m">
								<ui-component name="input" path="?.lwttopic">Last will topic</ui-component>
								<div class="help">Supports variables, example: <code>lwt/{device-id}</code></div>
							</div>
							<div class="m">
								<ui-component name="input" path="?.lwtmessage">Last will message</ui-component>
								<div class="help">Supports variables, example: <code>{device-id} is offline</code></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ui-bind>
	</div>
</settings>

<body>
	<header>
		<i class="$ICON"></i>$NAME
	</header>
	<footer>
		<ui-bind path="!$STATUS" config="template;show" class="block hidden">
			<script type="text/html">
				<div><b>{{ value.name }}</b>Name</div>
				<div><b>{{ value.status }}</b>Status</div>
			</script>
		</ui-bind>
	</footer>
</body>