<script total>

	exports.id = 'opensync';
	exports.name = 'OpenSync';
	exports.group = 'External';
	exports.author = 'Total.js';
	exports.icon = 'ti ti-sync';
	exports.version = '2';
	exports.config = {};
	exports.outputs = [{ id: 'output', name: 'Output' }];

	exports.make = function(instance, config) {

		var client = null;
		var status = { connected: 0, meta: EMPTYOBJECT };

		var connect = function() {
			client = OPENCLIENT(config.url, instance.id);
			client.error(err => instance.throw(err));

			client.online(function(meta) {
				status.connected = meta ? 1 : 0;
				status.meta = meta;
				instance.status(status);
			});

			client.message(function(msg) {
				instance.newmessage(msg).send('output');
			});
		};

		instance.configure = function() {
			if (config.url) {
				connect();
			} else {
				if (client) {
					client.close();
					client = null;
				}
				instance.status({ connected: 0 });
			}
		};

		instance.close = function() {
			if (client) {
				client.close();
				client = null;
			}
		};

		instance.configure();

	};

</script>

<style>
	.CLASS footer { padding: 8px; font-size: 12px; }
	.CLASS footer i { width: 12px; text-align: center; margin-right: 5px; }
</style>

<readme>
This component receives a data from the [OpenSync](https://docs.totaljs.com/opensync/) app. Data example:

```js
{
	id: String,              // Internal ID
	type: String,            // Parsed content-type (can be empty with the "GET" method)
	channel: String,         // Channel
	ip: String,              // Host IP address
	method: String,          // HTTP method (upper-case)
	headers: Object,         // Key:value
	query: Object,           // Key:value
	body: Object,            // JSON/key:value/String
	ua: String,              // Parsed user-agent
	files: [Object Array]    // Uploaded files { filename: String, extension: String, type: String, size: Number, url: String, width: Number, height: Number }
}
```
</readme>

<settings>
	<div class="padding">
		<ui-component name="input" path="?.url" config="required:1;camouflage:1">URL address + token</ui-component>
		<div class="help">Enter URL address + token to the OpenSync server. This component will connect to the OpenSync via WebSocket.</div>
	</div>
</settings>

<body>
	<header>
		<i class="ICON"></i>NAME
	</header>
	<footer>
		<ui-bind path="!STATUS" config="template">
			<script type="text/html">
				<div class="b"><i class="ti ti-globe"></i>{{ if value.meta }}{{value.meta.name }}{{ else }}---{{ fi }}</div>
				<div><i class="ti ti-circle {{ if value.connected }}green{{ else }}red{{ fi }}"></i>{{ if value.connected }}Connected{{ else }}Disconnected{{ fi }}</div>
			</script>
		</ui-bind>
	</footer>
</body>