<script total>

	exports.name = 'Output';
	exports.group = 'FlowStream';
	exports.version = '1';
	exports.icon = 'fa fa-crosshairs';
	exports.author = 'Peter Širka';
	exports.config = { name: 'Output', readme: '' };
	exports.inputs = [{ id: 'data', name: 'Data' }];
	exports.type = 'output';

	exports.make = function(instance, config) {
		instance.message = function($) {
			instance.output($.data);
			$.destroy();
		};
	};

</script>

<settings>
	<div class="padding">
		<div data---="input__?.name__required:1" class="m"><b>Output name</b></div>
		<div data---="textarea__?.readme__monospace:1;height:250">Readme</div>
		<div class="help">Supports markdown format</div>
	</div>
</settings>

<readme>
The component sends data to another FlowStream.
</readme>

<body>
	<header>
		<i class="fa fa-crosshairs"></i>Output: <b data-bind="?.config.{0}.name__text__empty"></b>
	</header>
</body>