<script total>

	exports.name = 'Print';
	exports.group = 'Common';
	exports.version = '4';
	exports.icon = 'ti ti-print';
	exports.author = 'Total.js';
	exports.config = { repo: false, data: true };
	exports.inputs = [{ id: 'input', name: 'Input' }];

	exports.make = function(instance, config) {
		instance.message = function($) {

			var data = $.data;

			if (config.data !== false) {
				if (data instanceof Buffer)
					data = data.toString('hex').substring(0, 200);
			}

			var count = 0;

			for (var key in config) {
				if (config[key])
					count++;
			}

			var output = count > 1 ? {} : null;

			if (config.repo) {
				if (output)
					output.repo = $.repo;
				else
					output = $.repository;
			}

			if (config.data) {
				if (output)
					output.data = $.data;
				else
					output = $.data;
			}

			output && instance.status(output, 200);
			$.destroy();
		};

		instance.trigger = function() {
			instance.status('');
		};

	};

</script>

<style>
	.CLASS footer > ui-bind { margin: 10px; }
	.CLASS pre { font-size: 10px; margin: 0; padding: 5px; background-color: #F0F0F0; border-radius: var(--radius); }
	.CLASS .noscrollbar { max-height: 250px; }
	.CLASS .readme { position: absolute; position: absolute; font-size: 11px; right: 5px; margin-top: -5px; cursor: pointer; }
	.ui-dark .CLASS pre { background-color: #404040; tab-size: 2; }
</style>

<readme>
The component prints incoming data in a JSON format.
</readme>

<settings>
	<div class="padding">
		<ui-component name="input" path="?.repo" config="type:checkbox">Shows repository</div>
		<ui-component name="input" path="?.data" config="type:checkbox">Shows data</div>
	</div>
</settings>

<body>
	<header>
		<button class="exec button" data-exec="FUNC.trigger">Clear</button>
		<i class="ICON"></i>NAME
	</header>
	<footer>
		<ui-bind path="!STATUS" config="html pre:Thelpers.jsonformat(JSON.stringify(value, null, '\t'));show" class="hidden selectable block">
			<span class="readme" title="Open in new window"><i class="ti ti-window"></i></span>
			<div class="noscrollbar mt5">
				<pre class="json"></pre>
			</div>
		</ui-bind>
	</footer>
</body>

<script>
	TOUCH(function(exports, reinit) {

		if (reinit)
			return;

		var laststatus;

		exports.status = function(status, isinit) {
			laststatus = status;
		};

		exports.element.on('click', '.readme', function() {
			FUNC.readme('Debug', '```json\n' + JSON.stringify(laststatus, null, '  ') + '\n```');
		});

	});
</script>