<script total>

	exports.id = 'publish';
	exports.name = 'Publish';
	exports.group = 'FlowStream';
	exports.version = '4';
	exports.icon = 'ti ti-crosshairs';
	exports.author = 'Total.js';
	exports.config = { name: '', readme: '' };
	exports.inputs = [{ id: 'data', name: 'Data' }];
	exports.type = 'output2';

	exports.call = function(data, answer) {
		// "this" means FlowStream instance
		this.io(function(err, response) {
			var arr = [];
			for (var flow of response) {
				for (var com of flow.items) {
					if (com.type === 'input') {
						com.id = flow.id + '_' + com.id;
						com.name = '<b>' + (flow.name || flow.id).encode() + ':</b> ' + (com.name || '').encode();
						arr.push(com);
					}
				}
			}
			arr.quicksort('name');
			answer(arr);
		});
	};

	exports.make = function(instance, config) {

		var flowstreamid;
		var instanceid;

		instance.message = function(msg) {
			if (flowstreamid && instanceid)
				instance.toinput(msg.data, flowstreamid, instanceid, msg.refs.reference);
			msg.destroy();
		};

		instance.flowstream = function(id, type) {
			if (!id || (config.id && config.id.split('_')[0] === id))
				refresh();
		};

		var refresh = function() {
			if (config.id) {
				var arr = config.id.split('_');
				flowstreamid = arr[0];
				instanceid = arr[1];
				instance.io(flowstreamid, instanceid, function(err, com) {
					if (com)
						instance.status({ name: com.name + '/' + com.item.name });
					else
						instance.status({ name: '' });
				});
			} else
				instance.status({ name: '' });
		};

		instance.configure = function() {
			refresh();
		};

		setTimeout(refresh, 3000);
	};

</script>

<script>
	ON('configure_publish', function(data) {
		data.call(function(response) {
			SET('%inputs', response);
		}, true);
	});
</script>

<settings>
	<div class="padding">
		<ui-component name="input" path="?.id" config="dirsource:%inputs;dirraw:1;placeholder:Choose a specific input;dirempty:No input" class="m"><b>Input</b></ui-component>
	</div>
</settings>

<readme>
The component publish the data to the specific `Input` component.
</readme>

<body>
	<header>
		<i class="ICON"></i>NAME: <ui-bind path="STATUS.name" config="text;empty" class="b monospace"></ui-bind>
	</header>
</body>