<script total>

	exports.id = 'pyworker';
	exports.name = 'PyWorker';
	exports.group = 'Python';
	exports.version = '2';
	exports.icon = 'ti ti-script';
	exports.author = 'Total.js';
	exports.config = { code: `# Python code
import time
import sys
from datetime import datetime

while True:
\tprint(datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
\tsys.stdout.flush()
\ttime.sleep(1)
`, limit: 10, restart: false };
	exports.inputs = [];
	exports.outputs = [];
	exports.meta = { settingswidth: 1200 };

	exports.install = function() {
		PATH.mkdir(PATH.temp('python'));
	};

	exports.make = function(instance, config) {

		var filename = PATH.temp(instance.id + '.py');
		var spawned = null;
		var logs = [];
		var delay = 300;
		var restarting = null;

		instance.close = function() {
			spawned && spawned.kill(9);
			spawned = null;
		};

		instance.trigger = function() {
			instance.configure();
		};

		instance.configure = function() {

			restarting && clearTimeout(restarting);
			restarting = null;

			if (config.code)
				F.Fs.writeFile(filename, config.code, err => err && instance.throw(err));

			let ready = false;
			let prev = spawned;

			if (spawned) {
				spawned.removeAllListeners('close');
				spawned.removeAllListeners('error');
				spawned.kill(9);
			}

			if (config.code) {

				spawned = F.Child.spawn('python3', [filename], { stdio: ['pipe', 'pipe', process.stderr] });

				spawned.on('error', function(err) {
					let count = logs.unshift({ type: 'Error', name: err.toString(), date: new Date() });
					if (count > config.limit)
						logs.pop();
					instance.status(logs, delay);
				});

				spawned.stdout.on('data', function(chunk) {
					let text = chunk.toString('utf8');
					let count = logs.unshift({ type: 'Log', name: text, date: new Date() });
					if (count > config.limit)
						logs.pop();
					instance.status(logs, delay);
				});

				spawned.on('close', function(code) {
					if (this == spawned)
						spawned = null;
					let count = logs.unshift({ type: 'Exit', name: code ? code.toString() : 'unexpected', date: new Date() });
					if (count > config.limit)
						logs.pop();

					instance.status(logs, delay);

					if (config.restart)
						restarting = setTimeout(instance.configure, 1000);
				});
			}
		};

		instance.configure();

	};

</script>

<readme>
This component runs the Python code as a separate process. The process can handle its own HTTP server or do other things.
</readme>

<style>
	.CLASS { max-width: 400px !important; width: 100%; }
	.CLASS .content { min-width: auto; }
	.CLASS footer { max-height: 250px; }
	.CLASS footer .msg { padding: 5px 10px; border-top: 1px solid #E0E0E0; font-size: 11px; }
	.CLASS footer .msg > div { margin-top: 2px; }
	.CLASS footer .msg:first-child { border-top: 0; }
</style>

<settings>
	<div class="padding">
		<ui-component name="codemirror" path="?.code" config="type:python;minheight:300;parent:auto;margin:150;tabs:true;trim:true" class="m"></ui-component>
		<ui-component name="input" path="?.restart" config="type:checkbox" class="m">Auto-restart the process if it's terminated</ui-component>

		<div style="width:200px">
			<ui-component name="input" path="?.limit" config="type:number;min:1;max:100;required:1">Log limit</ui-component>
		</div>

	</div>
</settings>

<body>
	<header>
		<button class="exec button" data-exec="FUNC.trigger">Restart</button>
		<i class="$ICON"></i>$NAME
	</header>
	<footer class="noscrollbar">
		<ui-bind path="$STATUS" config="template" class="block">
			<script type="text/html">
				{{ foreach m in value }}
					<div class="msg"><span class="pull-right fs12">{{ m.date | format('[ts]') }}</span><span class="badge badge-small{{ if m.type === 'Error' || m.type === 'Exit' }} badge-red{{ fi }}">{{ m.type }}</span><div class="monospace">{{ m.name }}</div></div>
				{{ end }}
			</script>
		</ui-bind>
	</footer>
</body>