<script total>
	exports.id = 'comment';
	exports.name = 'Comment';
	exports.group = 'Common';
	exports.icon = 'ti ti-comment';
	exports.author = 'Total.js';
	exports.version = '2';
	exports.config = { text: 'Add a custom comment...' };
	exports.meta = { settingswidth: 1100 };

	exports.make = function(instance, config) {
	};

</script>

<settings>
	<ui-component name="code" path="?.text" config="type:markdown;minheight:300;parent:auto;margin:0"></ui-component>
</settings>

<style>
	.CLASS { max-width: 500px !important; background: transparent !important; box-shadow: none !important; outline: 0 !important; }
	.CLASS header { font-size: 11px; color: rgba(0,0,0,0.5); padding: 2px 8px; }
	.CLASS footer { border-top: 0 !important; }
	.CLASS footer .markdown { padding: 0 8px 8px; border-top: 0 !important; color: #000; }
	.ui-dark .CLASS header { color: rgba(255,255,255,0.5); }
	.ui-dark .CLASS footer .markdown { color: #F0F0F0; }
</style>

<readme>
This component renders a small markdown comment inside the body.
</readme>

<body>
	<header>
		<b class="$ICON mr5"></b>$NAME
	</header>
	<footer><ui-bind path="!$CONFIG.text" config="html div:value.markdown(value, { element: el })" class="markdown-small selectable"><div class="markdown"></div></ui-bind></footer>
</body>

<script>

	TOUCH(function(exports, reinit) {
		if (!reinit) {
			exports.element.on('click', 'button', function() {
				FUNC.readme('Comment', exports.config.text || '');
			});
		}
	});

</script>