<script total>

	exports.id = 'read';
	exports.name = 'Read';
	exports.group = 'Objects';
	exports.version = '3';
	exports.icon = 'ti ti-filter';
	exports.author = 'Total.js';
	exports.config = { path: '', schema: [], keep: false };
	exports.inputs = [{ id: 'input', name: 'Input' }];
	exports.outputs = [{ id: 'output', name: 'Output' }];
	exports.kind = 'action';

	exports.make = function(instance, config) {

		var convert = function(item, value) {
			switch (item.convert) {
				case 'empty':
					return value;
				case 'uid':
					return UID();
				case 'guid':
					return GUID();
				case 'upper':
					return value == null ? '' : value.toString().toUpperCase();
				case 'lower':
					return value == null ? '' : value.toString().toLowerCase();
				case 'capitalize':
					return value == null ? '' : value.toString().capitalize();
				case 'number':
					return U.parseFloat(value);
				case 'string':
					return typeof(value) === 'string' ? value : value == null ? '' : value.toString();
				case 'boolean':
					return U.parseBoolean(value);
				case 'date':
					if (value instanceof Date)
						return value;
					return value == null ? new Date() : typeof(value) === 'number' ? new Date(value) : value.toString().parseDate();
				case 'tobase64':
				case 'tohex':
					return value instanceof Buffer ? value.toString(item.convert.substring(2)) : value == null ? '' : Buffer.from(value).toString(item.convert.substring(2));
				case 'frombase64':
				case 'fromhex':
					return typeof(value) === 'string' ? (value.indexOf(':') === -1 ? Buffer.from(value, item.convert.substring(4)) : value.base64ToBuffer()) : null;
				case 'tojson':
					return JSON.stringify(value);
				case 'fromjson':
					return typeof(value) === 'string' ? value.parseJSON(true) : null;
				case 'ascii':
					return typeof(value) === 'string' ? value.toASCII() : value == null ? '' : value.toString().toASCII();
				case 'slug':
					return typeof(value) === 'string' ? value.slug() : value == null ? '' : value.toString().slug();
				case 'crc32':
				case 'crc32unsigned':
					return typeof(value) === 'string' ? value.hash(item.convert) : value == null ? '' : value.toString().hash(item.convert);
				case 'md5':
				case 'sha1':
				case 'sha256':
				case 'sha512':
					return value == null ? '' : F.Crypto.createHash(item.convert).update(value instanceof Buffer ? value : value.toString()).digest('hex');
			}

			return value;
		};

		instance.message = function($) {

			var data = $.data;

			if (config.path)
				data = config.path ? U.get(data, config.path) : $.data;

			var obj = {};

			for (var item of config.schema) {
				var val = item.pathfrom.indexOf('.') === -1 ? data[item.pathfrom] : U.get(data, item.pathfrom);

				if (item.convert && item.convert !== 'empty')
					val = convert(item, val);

				if (item.pathto) {
					if (item.pathto.indexOf('.') === -1)
						obj[item.pathto] = val;
					else
						U.set(obj, item.pathto, val);
				} else {
					obj = val;
					break;
				}
			}

			if (config.keep) {
				for (let key in obj)
					$.data[key] = obj[key];
				$.send('output');
			} else {
				if (config.path && config.rewrite)
					U.set($.data, config.path, obj);
				$.send('output', obj);
			}
		};
	};

</script>

<readme>
This component reads specific values according to the configured map.
</readme>

<style>
	.CLASS-settings .fields { border: 1px solid #E0E0E0; border-radius: var(--radius); }
	.CLASS-settings figure { height: 24px; border-top: 1px solid #E0E0E0; line-height: 23px; font-size: 11px; }
	.CLASS-settings figure .edit-open { background-color: #F0F0F0; }
	.CLASS-settings figure .convert { width: 20%; line-height: 23px; float: left; padding: 0 5px; cursor: pointer; }
	.CLASS-settings figure .path { width: 35%; line-height: 14px; float: left; }
	.CLASS-settings figure .path span { float: left; width: 50px; line-height: 23px; text-align: center; }
	.CLASS-settings figure .path div { outline: 0; margin-left: 50px; line-height: 23px; padding: 0 5px; min-height: 23px; }
	.CLASS-settings figure .to div { color: #4285F4; }
	.CLASS-settings figure .from div { color: #B9261A; }
	.CLASS-settings figure .controls { float: right; width: 30px; padding: 0; margin: 0; border-left: 1px solid #E0E0E0; text-align: center; }
	.CLASS-settings figure .controls span { cursor: pointer; margin-left: 5px; }
	.CLASS-settings figure .controls span:first-child { margin-left: 0; }
	.CLASS-settings figure:first-child { border-top: 0; line-height: 24px; }
	.CLASS-settings figure:first-child div { line-height: 24px; }
	.CLASS footer { padding: 10px; font-size: 12px; }
	.CLASS footer hr { margin: 10px 0; }

	.ui-dark .CLASS-settings .fields { border-color: #404040; }
	.ui-dark .CLASS-settings figure { border-top-color: #404040; }
	.ui-dark .CLASS-settings figure .edit-open { background-color: #404040; }
	.ui-dark .CLASS-settings figure .controls { border-left-color: #404040; }
</style>

<body>
	<header>
		<i class="$ICON"></i>$NAME
	</header>
	<footer>
		<ui-bind path="CONFIG" config="template" class="block">
			<script type="text/html">
				{{ if value.path }}
				Path: <span class="b">{{ value.path }}</span>
				<hr />
				{{ fi }}
				{{ foreach m in value.schema }}
				<div class="monospace"><i class="ti ti-bull mr5 gray"></i>{{ m.pathfrom }} <i class="ti ti-long-arrow-right"></i> {{ m.pathto }}</div>
				{{ end }}
			</script>
		</ui-bind>
	</footer>
</body>

<settings>
	<div class="CLASS-settings">
		<div class="padding bg-smoke">
			<ui-component name="input" path="?.path" config="placeholder:path.to.property;monospace:1">Load data from the specific property/field</ui-component>
			<div class="help">Optional. The data for the model will be loaded from the specific property/field.</div>
			<ui-bind path="?.path" config="show" class="hidden block">
				<hr />
				<ui-component name="input" path="?.rewrite" config="type:checkbox"><b>Rewrite value only</b> (otherwise, it will replace entire message data)</ui-component>
			</ui-bind>
		</div>
		<div class="padding">

			<ui-bind path="?.path" config="hide" class="block">
				<ui-component name="input" path="?.keep" config="type:checkbox"><b>Keep the message data</b> and transform only specific paths</ui-component>
				<hr />
			</ui-bind>

			<div class="caption m">
				<div class="toolbar">
					<nav>
						<button class="exec" data-exec="tmpread.add"><i class="ti ti-plus-circle"></i>Add</button>
					</nav>
				</div>
				<label>Paths</label>
			</div>
			<ui-bind path="?.schema" config="template:figure --> data-id;show:value && value.length" class="fields m block">
				<script type="text/html">
					{{ foreach m in value }}
					<figure data-id="{{ m.id }}">
						<div class="controls">
							<span class="exec" data-exec="tmpread.rem" title="Remove"><i class="ti ti-trash red"></i></span>
						</div>
						<div class="path from">
							<span>From</span><div class="monospace edit hellip" data-type="from" data-edit="exec:tmpread.path;required:1">{{ m.pathfrom }}</div>
						</div>
						<div class="path to">
							<span>To</span><div class="edit monospace hellip" data-type="to" data-edit="exec:tmpread.path;selectall:1">{{ m.pathto }}</div>
						</div>
						<div class="convert">
							<div class="exec hellip" data-exec="tmpread.convert">{{ m.convert | tmpreadconvert }}</div>
						</div>
					</figure>
					{{ end }}
				</script>
			</ui-bind>
		</div>
	</div>
</settings>

<script>

	TOUCH(function(exports, reinit) {

		exports.settings = function(meta) {

			var defitem = { pathfrom: 'Temperature', pathto: 'temperature', convert: 'empty' };

			if (!meta.config.schema.length) {
				var obj = CLONE(defitem);
				obj.id = Math.random().toString(36).substring(4);
				meta.config.schema.push(obj);
			}

			var tmp = W.tmpread;

			if (!tmp) {

				tmp = {};
				tmp.add = function(el) {
					var scope = el.scope();
					var obj = CLONE(defitem);
					obj.id = Math.random().toString(36).substring(4);
					scope.push('schema', obj);
					scope.change('*');
				};

				tmp.rem = function(el) {
					var id = ATTRD(el);
					var scope = el.scope();
					var model = scope.get();
					var index = model.schema.findIndex('id', id);
					model.schema.splice(index, 1);
					scope.update('schema');
					scope.change('*');
				};

				tmp.path = function(opt, next) {
					opt.value = opt.value.replace(/(;|\s|,)/g, '').trim();
					var scope = opt.element.scope();
					var id = ATTRD(opt.element);
					var item = scope.get().schema.findItem('id', id);
					item['path' + opt.element.attrd('type')] = opt.value;
					scope.change('*');
					next(true);
				};

				tmp.convert = function(el) {
					var opt = {};
					opt.element = el;
					opt.align = 'left';
					opt.raw = true;
					opt.items = tmp.convertors;
					opt.callback = function(selected) {
						var scope = el.scope();
						var id = ATTRD(el);
						var item = scope.get().schema.findItem('id', id);
						if (item)
							item.convert = selected.id;
						el.html(selected.name);
						scope.change('*');
					};
					SETTER('directory/show', opt);
				};

				tmp.convertors = [];
				tmp.convertors.push({ id: 'empty', name: 'No convertor' });
				tmp.convertors.push({ id: 'upper', name: 'Upper case' });
				tmp.convertors.push({ id: 'lower', name: 'Lower case' });
				tmp.convertors.push({ id: 'capitalize', name: 'Capitalize case' });
				tmp.convertors.push({ id: 'number', name: 'To number' });
				tmp.convertors.push({ id: 'string', name: 'To string' });
				tmp.convertors.push({ id: 'boolean', name: 'To boolean' });
				tmp.convertors.push({ id: 'date', name: 'To date' });
				tmp.convertors.push({ id: 'ascii', name: 'Remove diacritics' });
				tmp.convertors.push({ id: 'slug', name: 'To slug' });
				tmp.convertors.push({ id: 'md5', name: 'To MD5' });
				tmp.convertors.push({ id: 'sha1', name: 'To SHA1' });
				tmp.convertors.push({ id: 'sha256', name: 'To SHA256' });
				tmp.convertors.push({ id: 'sha512', name: 'To SHA512' });
				tmp.convertors.push({ id: 'crc32', name: 'To CRC32' });
				tmp.convertors.push({ id: 'crc32unsigned', name: 'To CRC32 unsigned' });
				tmp.convertors.push({ id: 'tobase64', name: 'To BASE64' });
				tmp.convertors.push({ id: 'tohex', name: 'To Hex' });
				tmp.convertors.push({ id: 'tojson', name: 'To JSON' });
				tmp.convertors.push({ id: 'frombase64', name: 'From BASE64' });
				tmp.convertors.push({ id: 'fromhex', name: 'From Hex' });
				tmp.convertors.push({ id: 'fromjson', name: 'From JSON' });
				tmp.convertors.push({ id: 'uid', name: 'Generate UI' + 'D' });
				tmp.convertors.push({ id: 'guid', name: 'Generate GUI' + 'D' });

				Thelpers.tmpreadconvert = function(val) {
					return tmp.convertors.findValue('id', val, 'name', DEF.empty);
				};

				W.tmpread = tmp;
			}
		};

	});

</script>