<script total>

	exports.name = 'Database';
	exports.group = 'REST API';
	exports.icon = 'ti ti-database';
	exports.version = '2';
	exports.author = 'Total.js';
	exports.config = { name: 'API Database', items: [] };
	exports.inputs = [];
	exports.outputs = [{ id: 'output', name: 'Output' }, { id: 'error', name: 'Error' }];

	exports.make = function(instance, config) {

		var cache = {};

		instance.message = function($) {

			var item = cache[$.input];
			if (!item) {
				$.destroy();
				return;
			}

			var builder = null;
			var data = $.data;
			var params = data.params || EMPTYOBJECT;
			var query = data.query || EMPTYOBJECT;
			var user = data.user || EMPTYOBJECT;

			data = data.data || data.body;

			switch (item.command) {
				case 'create':
					builder = DB().insert(item.table, data);
					break;
				case 'update':
					builder = DB().update(item.table, data);
					item.where && item.where(params, data, query, user, $.refs, $, builder);
					item.error && builder.error(item.error);
					break;
				case 'remove':
					builder = DB().remove(item.table);
					item.where && item.where(params, data, query, user, $.refs, $, builder);
					item.error && builder.error(item.error);
					break;
				case 'read':
					builder = DB().read(item.table);
					item.where && item.where(params, data, query, user, $.refs, $, builder);
					item.error && builder.error(item.error);
					if (item.sort) {
						for (var m of item.sort)
							builder.sort(m[0], m[1]);
					}
					break;
				case 'query':
					builder = DB().find(item.table);
					item.where && item.where(params, data, query, user, $.refs, $, builder);
					item.error && builder.error(item.error);
					item.limit && builder.take(item.limit);
					if (item.sort) {
						for (var m of item.sort)
							builder.sort(m[0], m[1]);
					}
					break;
				case 'list':
					builder = DB().list(item.table);
					builder.autoquery(query, item.allowed, item.sort ? (item.sort[0] + '_' + item.sort[1]) : null, item.limit || 100);
					item.where && item.where(params, data, query, user, $.refs, $, builder);
					break;
			}

			if (builder) {
				builder.callback(function(err, response) {
					if (err) {
						$.send('error', [{ error: err + '' }]);
					} else {
						var path = item.path;
						if (path) {
							U.set($.data, path, response);
							$.send('output');
						} else
							$.send('output', response);
					}
				});
			} else
				$.send('error', [{ error: 'Not configured' }]);
		};

		instance.configure = function() {

			var inputs = [];
			var builder;
			var tmp;

			for (var item of config.items) {

				var obj = {};

				obj.command = item.command;
				obj.table = item.table;
				obj.path = item.path;
				obj.limit = item.limit;
				obj.error = item.error;

				builder = [];

				for (var m of item.where) {
					var val = 'null';
					switch (m.type) {
						case '1':
							val = m.value;
							break;
						case '2':
							val = '\'' + m.value.replace(/'/g, '\\\'') + '\'';
							break;
						case '3':
							val = m.value.parseFloat();
							break;
						case '4':
							val = m.value.toLowerCase();
							val = val === '1' || m.value === 'true' || val === 'on';
							break;
						case '5':
							val = m.value.toLowerCase();
							val = val === 'now' ? 'new Date()' : m.value.parseDate('yyyy-MM-dd HH:mm:ss');
							break;
						case '6':
							val = 'null';
							break;
					}

					builder.push('where(\'{0}\', \'{1}\', {2})'.format(m.name, m.comparer, val));
				}

				obj.where = builder.length ? new Function('params', 'data', 'query', 'user', 'refs', '$', 'builder', 'builder.' + builder.join('.')) : null;

				tmp = obj.sort;
				if (tmp) {
					obj.sort = [];
					tmp = tmp.split(/,|;/);
					for (var m of tmp) {
						m = m.trim().split(' ');
						m[1] = (m[1] || '').toLowerCase() === 'asc';
						obj.sort.push(m);
					}
				}

				obj.fields = item.fields === '*' ? '' : item.fields;
				obj.allowed = '';

				if (item.filter && item.filter.length) {
					for (var m of item.filter) {
						tmp = 'string';
						switch (m.type) {
							case '3':
								tmp = 'number';
								break;
							case '4':
								tmp = 'boolean';
								break;
							case '5':
								tmp = 'date';
								break;
						}
						obj.allowed += (obj.allowed ? ',' : '') + m.name + ':' + tmp;
					}
				}

				cache[item.id] = obj;
				inputs.push({ id: item.id, name: item.name });
			}

			var prev = JSON.stringify(instance.inputs);
			var curr = JSON.stringify(inputs);

			if (curr !== prev) {
				instance.inputs = inputs;
				instance.save();
			}

		};

		instance.configure();
	};

</script>

<readme>
This component can perform some operations on a database with the help of Total.js QueryBuilder. First, you must initialize the connection string for the database via QueryBuilder initialization.

__Input data__:

- `data {Object}` or `body {Object}` optional - payload
- `query {Object}` optional - query data, key/value must be string
- `params {Object}` optional - dynamic values, key/value must be string
- `user {Object}` optional - a user instance

__Output__:

- `insert` returns Number
- `update` returns Number
- `remove` returns Number
- `query` returns Array of Objects
- `read` returns Object
- `list` returns:

```json
{
	items: Array,
	page: Number,
	pages: Number,
	count: Number
}
```

Query parameters for the `List` operation can contain the below fields which can affect filtering according to the values defined in the dynamic filter.

- `sort {String}` can contain field name with `_asc` or `_desc` value
- `fields {String}` can return only specified fields separated by comma
- `page {Number}` page number
- `limit {Number}` max. items per page (default: max. limit)
- `column_name=VALUE` enables dynamic filtering

---

__Good to know__: If the `data` (payload) can contain special key names in the form:

- `+key` increments a value
- `-key` decrements a value
- `!key` performs toggle for boolean values
- `>key` stores only greater value
- `<key` stores only lower value
</readme>

<style>
	.CLASS-settings .fields { border: 1px solid #E0E0E0; border-radius: var(--radius); }
	.CLASS-settings .ui-listform-item .item { padding: 7px 10px; }
	.CLASS-settings .listing .item { line-height: 34px; font-size: 12px; background-color: #F8F8F8; border-radius: var(--radius); margin-bottom: 2px; padding: 0 10px; cursor: pointer; }
	.CLASS-settings .listing .item:hover { background-color: #E8E8E8; }
	.ui-dark .CLASS-settings .listing .item { background-color: #333; }
	.ui-dark .CLASS-settings .listing .item.selected { background-color: #404040; }
	.CLASS footer { padding: 10px; font-size: 12px; }
</style>

<body>
	<header>
		<i class="ICON"></i><span data-bind="CONFIG.name__text"></span>
	</header>
</body>

<settings>

	<ui-component name="box" path="common.form" config="if:apidatabasefieldform;title:Database operation;zindex:30;width:800;submit:tmpapidatabase.save" plugin="apidatabasefieldform" class="isolated:1">
		<div class="padding CLASS-settings">

			<ul class="tabmenu" data---="tabmenu__?.command__null__'list'">
				<li data-value="list">List</li>
				<li data-value="query">Query</li>
				<li data-value="read">Read</li>
				<li data-value="create">Create</li>
				<li data-value="update">Update</li>
				<li data-value="remove">Delete</li>
			</ul>
			<div class="clearfix">&nbsp;</div>

			<div class="row">
				<div class="col-md-4 m">
					<ui-component name="input" path="?.name" config="required:1">Name</ui-component>
					<div class="help">An input name</div>
				</div>
				<div class="col-md-4 m">
					<ui-component name="input" path="?.table" config="required:1;monospace:1;align:1">Table</ui-component>
					<div class="help">Table or Connection/Table</div>
				</div>
				<div class="col-md-4 m">
					<ui-component name="input" path="?.path" config="monospace:1">Save to path</ui-component>
					<div class="help">Response to <code>message.data</code></div>
				</div>
			</div>

			<hr />

			<ui-bind path="?.command" config="show:value==='list'||value==='query'||value==='read'" class="row block">
				<div class="col-md-4 m">
					<ui-component name="input" path="?.limit" config="type:number;required:1;monospace:1">Max. limit</ui-component>
					<div class="help">Max. records to output</div>
				</div>
				<div class="col-md-4 m">
					<ui-component name="input" path="?.sort" config="monospace:1;align:1;placeholder:column asc">Default sort</ui-component>
					<div class="help"><code>column asc</code> or <code>column desc</code></div>
				</div>
				<div class="col-md-4 m">
					<ui-bind path="?.command" config="disable:value==='list'">
						<ui-component name="input" path="?.fields" config="monospace:1;placeholder:column1, column2, column3">Fields</ui-component>
					</ui-bind>
					<div class="help">Return fields</div>
				</div>
			</ui-bind>

			<ui-bind path="?.command" config="show:value!=='list'" class="block">
				<ui-component name="input" path="?.error">Error message</ui-component>
				<div class="help">An error message will be returned when the database returns nothing</div>
			</ui-bind>

			<br />

			<div class="panel m">
				<label class="bg-smoke">Condition</label>
				<div class="padding">
				<ui-component name="listform" path="?.where" config="autofocus:1;empty:You do not have defined any rules">
					<script type="text/html">
						<div class="item monospace"><div class="controls nmr"><button name="up"><i class="ti ti-long-arrow-up"></i></button><button name="down"><i class="ti ti-long-arrow-alt-down"></i></button><button name="remove" class="red"><i class="ti ti-trash"></i></button></div><i class="ti ti-filter mr5"></i>{{ name }} {{ comparer }} <b>{{ if type == '6' }}null{{ else }}{{ value }}{{ fi }}</b></div>
					</script>
					<script type="text/html">
						<div class="padding">
							<div class="row">
								<div class="col-sm-3 m">
									<ui-component name="input" path="?.name" config="required:1;align:1;monospace:1" default="'id'">Name</ui-component>
								</div>
								<div class="col-sm-3 m">
									<ui-component name="input" path="?.comparer" config="required:1;align:1;dirsource:tmpapidatabase.comparers" default="'='">Comparer</ui-component>
								</div>
								<div class="col-sm-3 m">
									<ui-component name="input" path="?.type" config="required:1;align:1;dirsource:tmpapidatabase.types" default="'1'">Type</ui-component>
								</div>
								<div class="col-sm-3 m">
									<ui-bind path="?.type" config="enable:value!=='6'">
										<ui-component name="input" path="?.value" config="monospace:1;align:1" default="''">Value</ui-component>
									</ui-bind>
								</div>
							</div>
							<div class="help"><b>Expression</b> supports these commands <code>params {Object}</code>, <code>query {Object}</code>, <code>data {Object}</code>, <code>user {Object}</code>. A value for date field can contain <code>now</code> with the current date/time.</div>
							<br />
							<ui-component name="validate" path="?" validate="validonly:true" class="toolbar">
								<button name="submit"><i class="ti ti-file-code"></i>Save</button>
								<button name="remove">Remove</button>
								<button name="cancel">Cancel</button>
							</ui-component>
						</div>
					</script>
					<script type="text/html">
						<div style="margin-top:15px"><button class="button button-inline" name="create"><i class="ti ti-plus-circle green"></i>Create</button></div>
					</script>
				</ui-component>
				</div>
			</div>

			<ui-bind path="?.command" config="show:value==='list'" class="panel hidden block">
				<label class="bg-smoke">Dynamic filter</label>
				<div class="padding">
					<ui-component name="listform" path="?.filter" config="autofocus:1;empty:You do not have defined any rules">

						<script type="text/html">
							<div class="item monospace"><div class="controls nmr"><button name="up"><i class="ti ti-long-arrow-up"></i></button><button name="down"><i class="ti ti-long-arrow-down"></i></button><button name="remove" class="red"><i class="ti ti-trash"></i></button></div><i class="ti ti-filter mr5"></i>{{ name }} <b>{{ type | tmpapidatabasetype }}</b></div>
						</script>

						<script type="text/html">
							<div class="padding">
								<div class="row">
									<div class="col-sm-3 m">
										<ui-component name="input" path="?.name" config="required:1;align:1;monospace:1" default="'name'">Name</ui-component>
									</div>
									<div class="col-sm-3 m">
										<ui-component name="input" path="?.type" config="required:1;align:1;dirsource:tmpapidatabase.types2" default="'2'">Type</ui-component>
									</div>
								</div>
								<ui-component name="validate" path="?" config="validonly:true" class="toolbar">
									<button name="submit"><i class="ti ti-check-circle"></i>Save</button>
									<button name="remove">Remove</button>
									<button name="cancel">Cancel</button>
								</ui-component>
							</div>
						</script>

						<script type="text/html">
							<div style="margin-top:15px"><button class="button button-inline" name="create"><i class="ti ti-plus-circle green"></i>Create</button></div>
						</script>

					</ui-component>
				</div>
			</ui-bind>
		</div>
		<nav>
			<ui-component name="validate" path="?">
				<button name="submit" disabled>APPLY</button>
				<button name="cancel">Cancel</button>
			</ui-component>
		</nav>
	</ui-component>

	<div class="CLASS-settings">
		<div class="padding bg-smoke">
			<ui-component name="input" path="?.name" config="required:1" class="m">Name</ui-component>
		</div>
		<div class="padding">

			<div class="caption m">
				<div class="toolbar">
					<button class="exec" data-exec="tmpapidatabase.add"><i class="ti ti-plus-circle green"></i>Add</button>
				</div>
				<label>Inputs</label>
			</div>

			<ui-bind name="?.items" config="template:.item" class="listing block">
				<script type="text/html">
					{{ foreach m in value }}
					<div class="item exec" data-id="{{ m.id }}" data-exec="tmpapidatabase.upd"><span class="controls nmr"><button class="exec red" data-prevent="true" data-exec="tmpapidatabase.rem"><i class="ti ti-trash-alt"></i></button></span><i class="ti ti-crosshairs mr5"></i>{{ m.name }} ({{ m.command | tmpapidatabasecommand }})</div>
					{{ end }}
				</script>
			</ui-bind>
		</div>
	</div>
</settings>

<script>

	TOUCH(function(exports, reinit) {

		exports.settings = function(meta) {

			var tmp = W.tmpapidatabase;

			if (!tmp) {
				tmp = {};
				tmp.commands = [];
				tmp.commands.push({ id: 'list', name: 'List' });
				tmp.commands.push({ id: 'query', name: 'Query' });
				tmp.commands.push({ id: 'read', name: 'Read' });
				tmp.commands.push({ id: 'create', name: 'Create' });
				tmp.commands.push({ id: 'update', name: 'Update' });
				tmp.commands.push({ id: 'remove', name: 'Delete' });
				tmp.comparers = [];
				tmp.comparers.push({ id: '=', name: '=' });
				tmp.comparers.push({ id: '>', name: '>' });
				tmp.comparers.push({ id: '>=', name: '>=' });
				tmp.comparers.push({ id: '<', name: '<' });
				tmp.comparers.push({ id: '<=', name: '<=' });
				tmp.comparers.push({ id: '<>', name: '<>' });

				tmp.types = [];
				tmp.types.push({ id: '1', name: 'Expression' });
				tmp.types.push({ id: '2', name: 'String' });
				tmp.types.push({ id: '3', name: 'Number' });
				tmp.types.push({ id: '4', name: 'Boolean' });
				tmp.types.push({ id: '5', name: 'Date' });
				tmp.types.push({ id: '6', name: 'NULL' });

				tmp.types2 = [];
				tmp.types2.push({ id: '2', name: 'String' });
				tmp.types2.push({ id: '3', name: 'Number' });
				tmp.types2.push({ id: '4', name: 'Boolean' });
				tmp.types2.push({ id: '5', name: 'Date' });

				Thelpers.tmpapidatabasetype = function(val) {
					return tmp.types2.findValue('id', val, 'name', DEF.empty);
				};

				Thelpers.tmpapidatabasecommand = function(val) {
					return tmp.commands.findValue('id', val, 'name', DEF.empty);
				};

				tmp.add = function() {
					SET('apidatabasefieldform @reset @showloading', { id: Date.now().toString('36'), name: 'Input', where: [], filter: [], command: 'list', limit: 100 });
					SET('common.form2 @hideloading', 'apidatabasefieldform');
				};

				tmp.rem = function(el) {
					var id = ATTRD(el);
					var model = GET(tmp.path);
					var index = model.items.findIndex('id', id);
					if (index !== -1) {
						model.items.splice(index, 1);
						UPD(tmp.path + ' @change');
					}
				};

				tmp.upd = function(el) {
					var id = ATTRD(el);
					var model = GET(tmp.path);
					var item = model.items.findItem('id', id);
					if (item) {
						SET('apidatabasefieldform @reset @showloading', CLONE(item));
						SET('common.form2 @hideloading', 'apidatabasefieldform');
					}
				};

				tmp.save = function(hide) {
					var item = CLONE(apidatabasefieldform);
					var model = GET(tmp.path);
					var index = model.items.findIndex('id', item.id);

					if (item.command !== 'list')
						item.filter = [];

					if (index === -1)
						model.items.push(item);
					else
						model.items[index] = item;
					UPD(tmp.path + ' @change');
					hide();
				};

				W.tmpapidatabase = tmp;
			}

			tmp.path = meta.path;
		};

		exports.configure = function() {
			var changes = exports.instance.changes;
			if (changes && changes.newbie) {
				var inputs = [];
				for (var item of exports.config.items)
					inputs.push({ id: item.id, name: item.name });
				exports.instance.inputs = inputs;
				UPD('flow.data');
			}
		};

	});

</script>