<script total>
	exports.name = 'RPIuart';
	exports.author = 'Thecoolpeople';
	exports.group = 'Raspberry';
	exports.icon = 'fab fa-raspberry-pi';
	exports.version = '1';
	exports.config = { port:'/dev/ttyUSB0' };
	exports.inputs = [{ id: 'input', name: 'Input' }];
	exports.outputs = [{ id: 'output', name: 'Output' }, { id: 'error', name: 'Error' }];

	exports.npm = ['serialport'];

	exports.make = function(instance, config) {

		var SerialPort = require('serialport')
		var sp;

		instance.openConnectionUart = function(){

			sp = new SerialPort(config.port, {
				baudRate: parseInt(config.baudrate),
				dataBits: parseInt(config.databits),
				parity: config.parity,
				stopBits: parseInt(config.stopbits),
				flowControl: false,
				autoOpen: false
			});

			sp.on('open', function() {
				instance.status({ open: true });
			});

			sp.on('close', function() {
				instance.status({ open: false });
			});

			sp.on('data', function (data) {	// Switches the port into 'flowing mode'
				instance.send('output', data);
			});

			sp.open(function (err) {
				if (err)
					instance.send('error', 'Error opening port: ' + err.message);
			});
		}

		instance.message = function($) {

			let bytes = $.data;

			//check if sp is open
			if (!sp)
				instance.openConnectionUart();

			//send msg
			sp.write(bytes);
			$.destroy();
		};

		instance.close = function(){
			sp && sp.close(NOOP);
		}
	};
</script>

<style>
	.CLASS .status { font-size: 12px; margin: 0; padding: 0 10px 5px; font-weight: bold; }
</style>

<readme>
# UART

- send a string directly to a port
- when device from a port sends data to the host, it will be send to the output of the component
</readme>

<settings>
	<div class="padding">
		<div data---="input__?.port__required:1">PORT</div>
		<div data---="input__?.baudrate__dirsource:110|110,300|300,600|600,1200|1200,2400|2400,4800|4800,9600|9600,14400|14400,19200|19200,38400|38400,57600|57600,115200|115200,128000|128000;required:1">Baudrate</div>
		<div data---="input__?.databits__dirsource:5|5,6|6,7|7,8|8;required:1">Databits</div>
		<div data---="input__?.parity__dirsource:none|none,even|even,mark|mark,odd|odd,space|space;required:1">Parity</div>
		<div data---="input__?.stopbits__dirsource:1|1,2|2;required:1">Stop Bits</div>
	</div>
</settings>

<body>
	<header>
		<i class="ICON"></i>Raspberry UART
	</header>
	<footer>
		<div data-bind="!STATUS__template__show" class="status hidden">
			{{ if value.open }}
				<i class="fa fa-circle mr5 green"></i>Open
			{{ else }}
				<i class="fa fa-circle mr5 red"></i>Closed
			{{ fi }}
		</div>
	</footer>
</body>
