<script total>
	exports.name = 'RPIi2cRead';
	exports.author = 'Thecoolpeople';
	exports.group = 'Raspberry';
	exports.icon = 'fab fa-raspberry-pi';
	exports.version = '1';
	exports.config = {};
	exports.inputs = [{ id: 'input', name: 'Input' }];
	exports.outputs = [{ id: 'output', name: 'Output' }];

	exports.npm = ['i2c-bus'];

	exports.make = function(instance, config) {

		var I2C = require('i2c-bus');
		var BCD2D = function(Wert) {
			return Wert % 16 + 10 * parseInt(Wert / 16);
		};

		instance.message = function($) {

			var i2c1 = I2C.openSync(1);

			if (config.presensor) {
				switch (config.sensor) {
					case 'DS1307':
						let rbuf = Buffer.alloc(7);
						i2c1.readI2cBlockSync(0x68, 0x00, rbuf.length, rbuf); // address, register, length, buffer
						$.send('output', { year: BCD2D(rbuf[6]), month: BCD2D(rbuf[5]), date: BCD2D(rbuf[4]), day: BCD2D(rbuf[3]), hour: BCD2D(rbuf[2]), minute: BCD2D(rbuf[1]), second: BCD2D(rbuf[0]) });
						break;
					default:
						$.destroy();
						break;
				}
			} else {

				let address = parseInt($.data.address ? $.data.address : config.address);
				let register = parseInt($.data.register ? $.data.register : config.register);
				let readLength = parseInt($.data.readLength ? $.data.readLength : config.readLength);

				//send msg
				let rbuf = Buffer.alloc(readLength);
				let length = i2c1.readI2cBlockSync(address, register, readLength, rbuf);
				$.send('output', rbuf.toString());
			}

			i2c1.closeSync();
		};
	};

</script>

<readme>
# I2C Read

Parameters, can be transmitted to the component, or directly set as setting.

- `address`: The I2C address of the device
- `register`: The (starting) register
- `readLength`: The length of how many bits will be read
</readme>

<settings>
	<div class="padding">
		<div class="mt10 m">
			<div data---="input__?.presensor__type:checkbox">Predefined Sensor</div>
		</div>
		<hr />
		<div data-bind="?.presensor__show" class="show">
			<div data---="input__?.sensor__dirsource:DS1307|DS1307,none|none;required:1">Sensor</div>
		</div>
		<div data-bind="?.presensor__hide" class="hidden">
			<div data---="input__?.address__required:0">Address</div>
			<div data---="input__?.register__required:0">Register</div>
			<div data---="input__?.readLength__required:0">readLength</div>
		</div>
	</div>
</settings>

<body>
	<header>
		<i class="ICON"></i>Raspberry I2C Read
	</header>
</body>