<script total>
	exports.name = 'RPIi2cWrite';
	exports.author = 'Thecoolpeople';
	exports.group = 'Raspberry';
	exports.icon = 'fab fa-raspberry-pi';
	exports.version = '1';
	exports.config = {};
	exports.inputs = [{ id: 'input', name: 'Input' }];
	exports.outputs = [{ id: 'output', name: 'Output' }, { id: 'error', name: 'Error' }];

	exports.npm = ['i2c-bus'];

	exports.make = function(instance, config) {

		var I2C = require('i2c-bus');
		var stringtonumber = c => parseInt(c);

		instance.message = function($) {

			let address, register, bytes;

			try {
				address = parseInt($.data.address ? $.data.address : config.address);
				register = parseInt($.data.register ? $.data.register : config.register);
				bytes = Buffer.from($.data.bytes ? $.data.bytes : (config.bytes.split (',').map(stringtonumber)));
			} catch (err) {
				$.send('output', err + '');
				return;
			}

			// Send msg
			const i2c1 = I2C.openSync(1);
			let length = i2c1.writeI2cBlockSync(address, register, bytes.length, bytes);
			$.send('output', { data: bytes });
		};
	};

</script>

<readme>
# I2C Write

Parameters, can be transmitted to the component, or directly set as setting.

- `address`: The I2C address of the device
- `register`: The (starting) register
- `bytes`: The bytes which will be written
</readme>

<settings>
	<div class="padding">
		<div data---="input__?.address">Address</div>
		<div data---="input__?.register">Register</div>
		<div data---="input__?.bytes">Data</div>
	</div>
</settings>

<body>
	<header>
		<i class="fab fa-raspberry-pi"></i>Raspberry I2C Write
	</header>
</body>