<script total>

	exports.name = 'RPIgpioPWM';
	exports.author = 'Thecoolpeople';
	exports.group = 'Raspberry';
	exports.icon = 'fab fa-raspberry-pi';
	exports.version = '1';
	exports.config = {};
	exports.inputs = [{ id: 'input', name: 'Input' }];
	exports.outputs = [{ id: 'output', name: 'Output' }, { id: 'error', name: 'Error' }];

	exports.npm = ['rpi-gpio'];

	exports.make = function(instance, config) {

		var RPI = require('rpi-gpio');

		var handler = function(duration) {
			instance.pwmHandlerCount++;
			if (instance.pwmHandlerCount < duration * 10) {
				RPI.write(config.gpiokey, true, function(err) {
					if (err)
						instance.send('error', err + '');
				});
			} else if (instance.pwmHandlerCount < 10) {
				RPI.write(config.gpiokey, false, function(err) {
					if (err)
						instance.send('error', err + '');
				});
			} else
				instance.pwmHandlerCount = -1;
		};

		instance.message = function($) {

			if (config.gpiokey) {
				let duration = $.data ? parseFloat($.data) : 0.0;
				instance.pwmHandler && clearInterval(instance.pwmHandler);
				instance.pwmHandlerCount = -1;
				RPI.setup(config.gpiokey, RPI.DIR_OUT, RPI.EDGE_NONE)
				$.send('output', { pin: config.gpiokey, value: duration });
				if (duration != 0.0)
					instance.pwmHandler = setInterval(handler, 10, duration);
			} else
				$.destroy();
		};

		instance.close = function() {
			instance.pwmHandler && clearInterval(instance.pwmHandler);
		};
	};

</script>

<readme>
# GPIO PWM

- send number with the uptime duration to the component.
- 0 (zero) is 0%
- 1 (one) is 100%.
</readme>

<settings>
	<div class="padding">
		<div data---="input__?.gpiokey__dirsource:3|GPIO2-SDA_I2C,5|GPIO3-SCL_I2C,7|GPIO4,29|GPIO5,31|GPIO6,26|GPIO7-CE0_N,24|GPIO8-CE1_N,21|GPIO9-MISO,19|GPIO10-MOSI,23|GPIO11-SCLK,32|GPIO12,33|GPIO13,8|GPIO14-UART0_TXD,10|GPIO15-UART0_RXT,36|GPIO16,11|GPIO17,12|GPIO18-PCM_CLK,35|GPIO19,38|GPIO20,40|GPIO21,15|GPIO22,16|GPIO23,18|GPIO24,22|GPIO25,37|GPIO26,13|GPIO27;required:1">GPIO</div>
	</div>
</settings>

<body>
	<header>
		<i class="fab fa-raspberry-pi"></i>Raspberry GPIO PWM
	</header>
</body>