<script total>

	exports.name = 'RSS reader';
	exports.group = 'Transformations';
	exports.version = '1';
	exports.icon = 'ti ti-rss-square';
	exports.author = 'Total.js';
	exports.config = { url: '', type: 'a' };
	exports.inputs = [{ id: 'input', name: 'Trigger' }];
	exports.outputs = [{ id: 'output', name: 'Output' }];

	exports.make = function(instance, config) {


		var cache = [];
		var cachelimit = 50;

		instance.close = function() {
			cache = null;
		};

		instance.trigger = function() {

			if (!config.url)
				return;

			var opt = {};
			opt.method = 'GET';
			opt.custom = true;
			opt.url = config.url;

			var output = config.type === 'a' || config.type === 'b' ? [] : null;

			REQUEST(opt, function(err, response) {
				response.stream.on('data', U.streamer('<item>', '</item>', function(xml) {
					var item = xml.parseXML(true);
					if (item) {

						var obj = {};
						obj.title = item.item_title;
						obj.id = obj.title.makeid();

						if (config.type === 'b' || config.type === 'd') {
							if (cache.indexOf(obj.id) !== -1)
								return;
							if (cache.unshift(obj.id) > cachelimit)
								cache.pop();
						}

						obj.description = item.item_description;
						obj.link = item.item_link;

						if (item.item_image_url)
							obj.image = item.item_image_url;
						else if (item['item_enclosure__'])
							obj.image = item['item_enclosure__'].url;

						var date = item.item_pubDate || item.item_pubdate;
						if (date)
							obj.date = new Date(date);

						if (config.type === 'b' || config.type === 'c')
							instance.newmessage().send('output', obj);
						else
							output.push(obj);
					}
				}));
				response.stream.on('end', function() {
					output && output.length && instance.newmessage().send('output', output);
				});
			});
		};

		instance.message = function($) {
			$.destroy();
			instance.trigger();
		};

	};

</script>

<style>
	.CLASS .padding { padding: 0 10px 10px; }
	.CLASS footer { padding: 5px 10px; font-size: 11px; }
</style>

<settings>
	<div class="padding">
		<div data---="input__?.url__type:url;required:1">URL address</div>
		<div class="help m">Example: <code>https://blog.totaljs.com/rss/</code></div>
		<div data---="input__?.type__dirsource:a|Send all items,b|Send only new items,c|Send every item separately,d|Send only new items separately">Output</div>
	</div>
</settings>

<readme>
The component downloads every item from the RSS source. A message on to this `Trigger` input starts downloading RSS data.

__Example__:
```js
{
	title: String,
	description: String,
	link: String,
	image: String, // optional
	date: Date // optional
}
```
</readme>

<body>
	<header>
		<i class="ICON"></i>NAME
	</header>
	<div class="padding">
		<button class="exec button" data-exec="FUNC.trigger">Download</button>
	</div>
	<footer data-bind="CONFIG.url__text__show"></footer>
</body>