<script total>

	exports.id = 'tschema';
	exports.name = 'Data schema';
	exports.icon = 'ti ti-check-circle';
	exports.author = 'Total.js';
	exports.version = '1';
	exports.group = 'Total.js';
	exports.config = { schema: '*name:String, *email:Email', partial: false, strerr: false };
	exports.inputs = [{ id: 'input', name: 'Payload' }];
	exports.outputs = [{ id: 'output', name: 'Response' }, { id: 'error', name: 'Error' }];

	exports.make = function(instance, config) {

		var schema;

		instance.message = function($) {
			var output = schema.transform($.data, config.partial);
			if (output.error)
				$.send('error', config.strerr ? output.error.toString() : output.error);
			else
				$.send('output', output.response);
		};

		instance.configure = function() {
			schema = config.schema.toJSONSchema();
		};

		instance.configure();

	};

</script>

<readme>
The component `Schema` can very quickly check incoming data according to the defined schema.

__Supported types__:
- `string`
- `number`
- `boolean`
- `date`
- `object`
- `email`
- `phone`
- `zip`
- `base64`
- `url`
- `datauri`
- `json`
- `lower`
- `upper`
- `capitalize` all words
- `capitalize2` only first word
- `name` makes a name (capitalizes words and remove special characters)
- `zip`
- `uid`
- `guid`
- `color`
- `icon`
- `search` prepares string to a search string
- `safestring` checks XSS and SQL Injections
- `smallint`
- `tinyint`
- `{A|B|C}` enum type
- `[type]` means array
- `{ name:String, age:Number }` means nested object
- `[ name:String, age:Number ]` means array with an object
- `*something:type` is `required` field
</readme>

<settings>
	<div class="padding">
		<ui-component name="input" path="?.schema" config="placeholder:name\:Name, *email\:Email">Schema</ui-component>
		<hr />
		<ui-component name="input" path="?.partial" config="type:checkbox">Allow partial data</ui-component>
		<ui-component name="input" path="?.strerr" config="type:checkbox">Convert errors to a string</ui-component>
	</div>
</settings>

<style>
	.CLASS footer { padding: 10px; font-size: 12px; }
</style>

<body>
	<header>
		<i class="$ICON"></i>$NAME
	</header>
	<footer>
		<ui-bind path="CONFIG.schema" config="text" class="block monospacce"></ui-bind>
	</footer>
</body>