<script total>

	exports.id = 'secrets';
	exports.name = 'Secrets';
	exports.icon = 'ti ti-lock';
	exports.author = 'Total.js';
	exports.version = '1';
	exports.group = 'Common';
	exports.inputs = [{ id: 'input', name: 'Input' }];

	exports.make = function(instance, config) {

		var keys = {};

		instance.message = function($) {

			var data = $.data;
			if (data && typeof(data) === 'object') {
				var tmp = {};
				var is = false;
				for (var key in data) {
					var val = data[key];
					if (val != null) {
						val = val.toString();
						tmp[key] = val;
						keys[key] = 1;
						is = true;
					}
				}
				if (is) {
					instance.newsecrets(data);
					instance.status(Object.keys(keys));
				}
			}

			$.destroy();
		};

	};

</script>

<readme>
The component creates secret variables from the input message data. You can read data easily via `{key}` in the component's settings. Keys and their values must be of String type.

```js
{
	key1: value1,
	key2: value2,
	keyN: valueN
}
```
</readme>

<style>
	.CLASS footer { font-size: 11px; padding: 10px; }
</style>

<body>
	<header>
		<i class="ICON"></i>NAME
	</header>
	<footer is="is-footer" path="STATUS" config="template;show:value && value.length" class="block hidden">
		<script type="text/html">
			{{ foreach m in value }}
			<div><i class="ti ti-key mr5"></i>{{ m }}</div>
			{{ end }}
		</script>
	</footer>
</body>