<script total>

	exports.id = 'sms';
	exports.name = 'SMS';
	exports.group = 'Total.js API';
	exports.version = '1';
	exports.icon = 'ti ti-tablet';
	exports.author = 'Total.js';
	exports.config = { token: '', to: '', from: '', body: '', isdata: false };
	exports.inputs = [{ id: 'input', name: 'Input' }];

	exports.make = function(instance, config) {

		instance.message = function($) {
			var cfg = $.variables(config, $.data);
			var msg = {};
			msg.to = cfg.to;
			msg.from = cfg.from;

			var data = cfg.isdata ? $.data : cfg.body;

			if (cfg.isdata) {
				if (cfg.path)
					data = cfg.path.includes('.') ? U.get(data, cfg.path) : data[cfg.path];
			}

			msg.body = data ? data.toString().toASCII() : '';
			$.destroy();

			if (msg.body) {
				var api = API('TotalAPI', 'sms', msg).callback(err => instance.status({ response: err ? err.toString() : '' }));
				api.options.token = cfg.token;
			} else
				instance.status({ response: 'Invalid message' });
		};

	};

</script>

<style>
	.CLASS .error { color: red; border-top: 1px solid #E0E0E0; padding-top: 8px; margin-top: 8px; }
	.CLASS footer { padding: 10px; font-size: 12px; }
</style>

<readme>
The component sends a SMS message.
</readme>

<settings>
	<div class="padding bg-smoke">
		<ui-component name="input" path="?.token" config="required:1;camouflage:*">Total API token</ui-component>
		<div class="help">Supports dynamic variables in the form <code>{key}</code>. Generate your token on <a href="https://platform.totaljs.com/?open=api" target="_blank">https://platform.totaljs.com</a> - Total.js API Services.</div>
	</div>
	<div class="padding">
		<div class="grid-2">
			<div class="m">
				<ui-component name="input" path="?.from" config="required:1;monospace:1">From</ui-component>
				<div class="help"><b>International format</b>. Supports dynamic variables in the form <code>{key}</code>.</div>
			</div>
			<div class="m">
				<ui-component name="input" path="?.to" config="required:1;monospace:1">To</ui-component>
				<div class="help"><b>International format</b>. Supports dynamic variables in the form <code>{key}</code>.</div>
			</div>
		</div>
	</div>
	<hr class="nmt nmb" />
	<div class="padding">
		<ui-component name="input" path="?.isdata" config="type:checkbox" class="b mt5">Send incoming message data only</ui-component>
	</div>
	<ui-bind path="?.isdata" config="hide" class="hidden">
		<hr class="nmt nmb" />
		<div class="padding">
			<ui-component name="input" path="?.body" config="maxlength:500;required:1">Message</ui-component>
			<div class="help m">Supports dynamic variables in the form <code>{key}</code>.</div>
		</div>
	</ui-bind>
	<ui-bind path="?.isdata" config="show" class="hidden">
		<div class="padding npt">
			<ui-component name="input" path="?.path" config="maxlength:500;placeholder:e.g. message">Path for reading message</ui-component>
		</div>
	</ui-bind>
</settings>

<body>
	<header>
		<i class="$ICON"></i>$NAME
	</header>
	<footer>
		<ui-bind path="!$CONFIG" config="template" class="block">
			<script type="text/html">
				<div><span class="gray">From:</span> {{ value.from }}</div>
				<div><span class="gray">To:</span> {{ value.to }}</div>
			</script>
		</ui-bind>
		<ui-bind path="!$STATUS.response" config="text;show" class="error hidden block"></ui-bind>
	</footer>
</body>