<script total>

	exports.id = 'taction';
	exports.name = 'Action';
	exports.icon = 'ti ti-totaljs';
	exports.author = 'Total.js';
	exports.version = '1';
	exports.group = 'Total.js';
	exports.config = { partial: false, name: 'Unknown', input: '', query: '', color: '#68B25B', params: '', user: 0, permissions: '', code: '$.success();', strerr: false, path: 'response', autoresponse: false };
	exports.inputs = [{ id: 'input', name: 'Payload' }];
	exports.outputs = [{ id: 'output', name: 'Response' }, { id: 'error', name: 'Error' }];

	exports.install = function(com) {

		MAIN.flowtaction = {};

		const ARGS = /\{{1,2}[a-z0-9_.-\s]+\}{1,2}/gi;
		const Options = function($, config) {

			var t = this;
			var data = $.data;

			if (!data || typeof(data) !== 'object')
				data = {};

			t.id = config.name;
			t.error = new ErrorBuilder();
			t.controller = $.refs.controller;
			t.payload = data.payload || data.model || data.body;

			if (typeof(t.payload) !== 'object' || !t.payload)
				t.payload = {};

			t.message = $;
			t.config = config;
			t.user = data.user;
			t.query = data.query || {};
			t.params = data.params || {};
			t.url = data.url;
			t.language = data.language;
			t.headers = data.headers || {};
			t.files = data.files || [];
			t.cookies = data.cookies || {};
			t.ip = data.ip;
			t.ua = data.ua;
			t.request = data;
		};

		Options.prototype = {

			get value() {
				return this.payload;
			},

			get model() {
				return this.payload;
			},

			set value(value) {
				this.payload = value;
			},

			set model(value) {
				this.payload = value;
			}
		};

		Options.prototype.audit = function(message, type) {
			F.audit(this, message ? this.variables(message) : '', type);
		};

		Options.prototype.success = function(value) {
			var self = this;
			self.request[self.config.path] = { success: true, value: value };
			self.message.send('output', self.request);
		};

		Options.prototype.cancel = function() {
			var self = this;
			self.message.destroy();
		};

		Options.prototype.successful = function(callback) {
			var self = this;
			return function(err, a, b, c) {
				if (err)
					self.invalid(err);
				else
					callback.call(self, a, b, c);
			};
		};

		Options.prototype.send = Options.prototype.callback = function(value) {

			var self = this;

			if (arguments.length == 0) {
				return function(err, response) {
					err && self.error.push(err);
					self.callback(response);
				};
			}

			let msg = self.message;
			let refs = msg.refs;
			let cfg = self.config;

			if (self.error.items.length) {
				self.request[cfg.path] = cfg.strerr ? self.error.toString() : self.error.output();

				if (cfg.autoresponse) {
					if (refs.controller) {
						refs.controller.invalid(self.error);
						refs.controller = null;
					}
				}

				msg.send('error', self.request);

			} else {

				self.request[cfg.path] = value;

				if (cfg.autoresponse) {
					if (refs.controller) {
						refs.controller.json(value);
						refs.controller = null;
					}
				}

				msg.send('output', self.request);
			}
		};

		Options.prototype.done = function(arg) {
			var self = this;
			return function(err, response) {
				if (err) {
					self.error.push(err);
					self.callback(null);
				} else
					self.callback({ success: true, value: arg === true ? response : arg });
			};
		};

		Options.prototype.invalid = function(error, path, index) {
			var self = this;
			self.error.push(error, path, index);
			self.callback(null);
		};

		Options.prototype.cookie = function(name, value, expire, options) {
			var self = this;
			if (value === undefined)
				return self.cookies[name];

			if (value === null)
				expire = '-1 day';

			if (self.controller) {
				self.controller.cookie(name, value, expire, options);
				return true;
			}

			return false;
		};

		Options.prototype.variables = function(str, data) {

			if (str.indexOf('{') === -1)
				return str;

			var $ = this;

			return str.replace(ARGS, function(text) {
				var l = text[1] === '{' ? 2 : 1;
				var key = text.substring(l, text.length - l).trim();
				var val = null;
				var five = key.substring(0, 5);
				if (five === 'user.') {
					if ($.user) {
						key = key.substring(5);
						val = key.indexOf('.') === -1 ? $.user[key] : U.get($.user, key);
					}
				} else if (five === 'data.') {
					if (data) {
						key = key.substring(5);
						val = key.indexOf('.') === -1 ? data[key] : U.get(data, key);
					}
				} else {
					var six = key.substring(0, 6);
					if (six === 'model.' || six === 'value.') {
						if ($.model) {
							key = key.substring(6);
							val = key.indexOf('.') === -1 ? $.model[key] : U.get($.model, key);
						}
					} else if (six === 'query.')
						val = $.query[key.substring(6)];
					else if (key.substring(0, 7) === 'params.')
						val = $.params[key.substring(7)];
				}
				return val == null ? text : val;
			});

		};

		MAIN.flowtaction.Options = Options;
		MAIN.flowtaction.AsyncFunction = Object.getPrototypeOf(async function(){}).constructor;
	};

	exports.uninstall = function() {
		delete MAIN.flowtaction;
	};

	exports.make = function(instance, config) {

		var cfg = {};
		var fn;

		instance.message = function($) {

			var opt = new MAIN.flowtaction.Options($, cfg);
			if (fn) {

				// check user
				if (cfg.user || cfg.permissions) {

					if ((cfg.user === 2 && opt.user) || (cfg.user === 1 && !opt.user)) {
						opt.invalid(401);
						return;
					}

					if (cfg.user === 1 && cfg.permissions) {
						let permissions = cfg.permissions.slice(0);
						permissions.unshift(opt);
						if (UNAUTHORIZED.apply(global, permissions))
							return;
					}
				}

				// check data
				let tmp;

				if (cfg.input) {
					tmp = cfg.input.transform(opt.payload, cfg.partial, opt.error);
					if (tmp.error) {
						opt.callback(null);
						return;
					}
					opt.payload = tmp.response;
				}

				if (cfg.query) {
					opt.error.prefix = 'query.';
					tmp = cfg.query.transform(opt.query, false, opt.error);
					if (tmp.error) {
						opt.callback(null);
						return;
					}
					opt.query = tmp.response;
				}

				if (cfg.params) {
					opt.error.prefix = 'params.';
					tmp = cfg.params.transform(opt.params, false, opt.error);
					if (tmp.error) {
						opt.callback(null);
						return;
					}
					opt.params = tmp.response;
				}

				opt.error.prefix = '';

				try {
					fn(opt, opt.payload);
				} catch (e) {
					opt.invalid(e);
					instance.throw(e);
				}
			} else
				opt.invalid(501);
		};

		instance.configure = function() {

			fn = config.code.includes('await ') ? new MAIN.flowtaction.AsyncFunction('$', 'model', 'data', 'value', config.code) : new Function('$', 'model', 'data', 'value', config.code);

			cfg = {};
			for (var key in config) {
				if (key !== 'code')
					cfg[key] = config[key];
			}

			cfg = instance.replace(cfg);
			cfg.input = cfg.input ? cfg.input.toJSONSchema() : null;
			cfg.query = cfg.query ? cfg.query.toJSONSchema() : null;
			cfg.params = cfg.params ? cfg.params.toJSONSchema() : null;
			cfg.permissions = cfg.permissions ? cfg.permissions.split(',').trim() : null;

			if (cfg.permissions && !cfg.permissions.length)
				cfg.permissions = null;
		};

		instance.configure();

	};

</script>

<readme>
This component creates similar functionality as Total.js Actions.

## Payload

```js
{
	ip: String, // optional, IP address
	url: String, // optional
	language: String, // optional
	ua: String, // optional, parsed user-agent
	user: Object, // optional
	headers: { key: String }, // optional, request headers
	cookies: { key: String }, // optional, cookies
	payload: {}, // optional, request payload
	query: { key: String }, // optional
	params: { key: String }, // optional
	files: [{ type: String, filename: String, path: String, ext: String, size: Number, width: Number, height: Number }] // optional
}
```

## Custom scripting

- supports `await`
- supports Total.js global functions

__Properties__:

- `$.model {Object}` or `model` parsed payload
- `$.query {Object}` parsed URL query arguments
- `$.params {Object}` parsed URL params
- `$.cookies {Object}` parsed cookies
- `$.files [Object]` uploaded files
- `$.user {Object}` user session (optional)
- `$.headers {Object}` request headers
- `$.ip {String}` IP address (optional)
- `$.language {String}` optional
- `$.ua {String}` parsed user agent (optional)
- `$.url {String}` URL endpoint
- `$.message {Object}` Flow message instance
- `$.request {Object}` Flow message payload data

__Methods__:

- `$.invalid(error)` responds with an error and ends the action
- `$.success([value])` responds with `{ success: true, value }` object and ends the action
- `$.send(value)` responds with `value` object and ends the action
- `$.cancel()` ends the action without response
- `$.audit(message, [type])` writes audit

## Supported types

- `string`
- `number`
- `boolean`
- `date`
- `object`
- `email`
- `phone`
- `zip`
- `base64`
- `url`
- `datauri`
- `json`
- `lower`
- `upper`
- `capitalize` all words
- `capitalize2` only first word
- `name` makes a name (capitalizes words and remove special characters)
- `zip`
- `uid`
- `guid`
- `color`
- `icon`
- `search` prepares string to a search string
- `safestring` checks XSS and SQL Injections
- `smallint`
- `tinyint`
- `{A|B|C}` enum type
- `[type]` means array
- `{ name:String, age:Number }` means nested object
- `[ name:String, age:Number ]` means array with an object
- `*something:type` is `required` field
</readme>

<settings>
	<div class="CLASS-settings">
		<div class="padding" style="padding-bottom:5px">
			<div class="row">
				<div class="col-md-9 m">
					<ui-component name="input" path="?.name" config="required:1">Action name</ui-component>
				</div>
				<div class="col-md-3 m">
					<ui-component name="input" path="?.color" config="required:1;type:color">Color</ui-component>
				</div>
			</div>
		</div>
		<div class="padding bg-smoke">
			<div class="pull-left">
				<div class="ui-input-label">Allow only:</div>
				<ui-component name="choose" path="?.user" config="selector:div;type:number" class="iconmenu m">
					<div data-id="1" style="width:90px">
						<i class="ti ti-lock"></i>
						<span>Authorized</span>
					</div>
					<div data-id="2" style="width:90px">
						<i class="ti ti-unlock"></i>
						<span>Unauthorized</span>
					</div>
					<div data-id="0" style="width:90px">
						<i class="ti ti-door-open"></i>
						<span>Both</span>
					</div>
				</ui-component>
			</div>
			<div class="pull-left" style="margin-left:20px">
				<div style="height:25px"></div>
				<ui-component name="input" path="?.autoresponse" config="type:checkbox">Auto HTTP response</ui-component>
				<ui-component name="input" path="?.partial" config="type:checkbox">Allow partial data</ui-component>
				<ui-component name="input" path="?.strerr" config="type:checkbox">Convert errors to a string</ui-component>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="padding">

			<div class="m">
				<ui-component name="input" path="?.input" config="monospace:1;maxlength:100000;placeholder:name\:Name, *email\:Email">Payload schema</ui-component>
			</div>

			<div class="m">
				<ui-component name="input" path="?.query" config="monospace:1;maxlength:100000;placeholder:page\:Number">Query arguments schema</ui-component>
			</div>

			<div class="padding bg-smoke radius npb">
				<div class="grid-3">
					<div class="m">
						<ui-component name="input" path="?.params" config="monospace:1;maxlength:100000;placeholder:*id\:String">Params schema</ui-component>
					</div>
					<div class="m">
						<ui-component name="input" path="?.permissions" config="monospace:1;maxlength:100000;placeholder:admin, director">Permissions</ui-component>
					</div>
					<div class="m">
						<ui-component name="input" path="?.path" config="monospace:1;required:1;placeholder:response">Path for storing a response</ui-component>
					</div>
				</div>
			</div>
		</div>
	</div>
</settings>

<style>
	.CLASS .content { min-width: 200px; }
	.CLASS header { color: #FFF; padding: 5px; }
	.CLASS header div { border-radius: var(--radius); padding: 3px 5px; }
	.CLASS .ti { color: #999; }
	.CLASS footer > div { padding: 10px 10px 0; }
	.CLASS-code .CodeMirror { border: 0; border-left: 1px solid #E0E0E0; border-radius: none; }
	.CLASS-code-editor { margin-left: 200px; }
	.CLASS-code-info { float: left; width: 200px; padding: 12px; font-size: 12px; }
	.CLASS-code-info code { overflow-wrap: break-word; white-space: pre-wrap; display: block; padding: 0 3px; }
	.CLASS-code-button { padding: 10px; border-top: 1px solid #E0E0E0; }
	.CLASS-code-button button { font-size: 14px; height: 36px; font-weight: bold; }
	.CLASS-settings .iconmenu { height: 80px; }
	.CLASS-settings .iconmenu > div { height: 76px; }
	.CLASS-settings .iconmenu span { padding-top: 8px; }
	.CLASS-settings .iconmenu i { padding-top: 16px; }
	.ui-dark .CLASS-code .CodeMirror { border-left-color: #404040; }
	.ui-dark .CLASS-code-button { border-top-color: #404040; }
</style>

<body>
	<header>
		<ui-bind path="$CONFIG" config="template">
			<script type="text/html">
				<div style="background-color:{{ value.color }}">{{ value.name }}</div>
			</script>
		</ui-bind>
	</header>
	<footer>
		<div><button class="button exec" data-exec="=sourcecode"><i class="ti ti-js"></i>Script</button></div>
		<ui-bind path="$CONFIG" config="template" class="block fs11" style="padding:10px">
			<script type="text/html">
				{{ if value.autoresponse }}<div class="b"><i class="ti ti-check-square green mr5"></i>Auto HTTP response</div>{{ fi }}
				<div><i class="ti ti-check-square mr5"></i>{{ if value.user === 1 }}Authorized only{{ else if value.user === 2 }}Unauthorized only{{ else }}All allowed{{ fi }}</div>
				{{ if value.partial }}<div><i class="ti ti-check-square green mr5"></i>Partial data</div>{{ fi }}
				{{ if value.input }}<div><i class="ti ti-check-square green mr5"></i>Payload</div>{{ fi }}
				{{ if value.query }}<div><i class="ti ti-check-square green mr5"></i>URL Query arguments</div>{{ fi }}
				{{ if value.params }}<div><i class="ti ti-check-square green mr5"></i>Params</div>{{ fi }}
				{{ if value.permissions }}<div><i class="ti ti-check-square green mr5"></i>Permissions</div>{{ fi }}
			</script>
		</ui-bind>
	</footer>
</body>


<script>
	TOUCH(function(exports, reinit) {

		if (!common.codeactions) {
			common.codeactions = {};
			W.codeactionssubmit = function(el) {

				if (BLOCKED('codeaction', 1000))
					return;

				var winid = ATTRD(el);
				var id = winid.substring(4);
				var code = common.codeactions[winid];
				var instance = flowinstances.instances[id];
				var config = instance.config;
				config.code = code;
				instance.reconfigure(config);
			};
			W.codeactionsinit = function(com) {
				var save = () => W.codeactionssubmit(com.element);
				var map = { 'Cmd-S': save, 'Ctrl-S': save };
				com.editor.addKeyMap(map);
			};
		}

		exports.renderschema = function() {

			var builder = [];
			var config = exports.config;

			var write = function(name, label) {
				if (config[name]) {
					builder.push('<div class="b badge badge-gray" style="display:block">{0}</div>'.format(label));
					var val = config[name].replace(/\,/g, '\n');
					builder.push('<div class="m mt5"><code>{0}</code></div>'.format(val));
				}
			};

			write('params', 'Dynamic parameters');
			write('query', 'URL query arguments');
			write('input', 'Payload');

			return builder.join('');
		};

		exports.configure = function() {
			var key = 'code' + exports.id;
			var win = common.windows.findItem('id', key);
			if (win) {
				var path = '*codeactions.' + key;
				var prev = GET(path);
				if (prev !== exports.config.code)
					SET(path, exports.config.code);
				win.element.find('.CLASS-code-info').html(exports.renderschema());
			}
		};

		exports.sourcecode = function() {

			var config = exports.config;
			var path = '*codeactions.code' + exports.id;
			var winid = 'code' + exports.id;

			if (common.windows.findItem('id', winid)) {
				SETTER('windows/focus', winid);
				return;
			}

			SET(path, config.code);

			PUSH('common.windows', { id: winid, cachekey: 'codeaction', cache: 'readme', html: '<div class="CLASS-code invisible"><div class="CLASS-code-info noscrollbar">{1}</div><div class="CLASS-code-editor"><ui-component name="codemirror" path="{0}" config="type:javascript;parent:auto;margin:60;$init:codeactionsinit"></ui-component></div><div class="CLASS-code-button"><button class="button exec" data-exec="codeactionssubmit">Apply</button></div></div>'.format(path, exports.renderschema()), title: 'Action script: ' + config.name, actions: { move: true, autosave: true, close: true, maximize: true, minimize: false }, offset: { x: ((WW / 2) - 275) >> 0, y: ((WH / 2) - 250) >> 0, width: 750, height: 500, minwidth: 200, minheight: 300, maxwidth: 1200, maxheight: 1200 }, make: function(el) {
				el.closest('.ui-windows-item').css('z-index', 50);
				el.find('.CLASS-code').rclass('invisible', 500);
			}});
		};

	});

</script>