<script total>

	exports.id = 'tangular';
	exports.name = 'Tangular';
	exports.icon = 'ti ti-variables';
	exports.author = 'Total.js';
	exports.version = '1';
	exports.group = 'Templates';
	exports.config = {};
	exports.inputs = [{ id: 'input', name: 'Input' }];
	exports.outputs = [{ id: 'output', name: 'Output' }];

	exports.make = function(instance, config) {
		var template;

		instance.message = function($) {
			var data = $.data;
			try {
				$.data = template(data, $);
			} catch(e) { $.data = ''; }
			$.send('output');
		};

		instance.configure = function() {
			template = Tangular.compile(config.template || '');
		};

		instance.configure();

	};

</script>

<readme>
The component uses server-side implementation of [Tangular template engine](https://docs.totaljs.com/components/40d06002lm50c/).

## Example

__Incomming data__:

```js
{
	app_name: 'Total.js Flow'
}
```

__Template__:

```html
App name: {{ app_name }}
```

- `$` type `{MessageInstance}` <https://docs.totaljs.com/total4/40844001ni51c/>

In the example bellow, the $.refs.controller is only available if the message was created by the Route component:

```html
URL: {{ $.refs.controller.url }}
```
</readme>

<settings>
	<div class="padding">
		<div class="ui-input-label">Template:</div>
		<ui-component name="codemirror" path="?.template" config="type:html;minheight:300;parent:auto;margin:80;tabs:true;trim:true" class="m"></ui-component>
	</div>
</settings>

<body>
	<header>
		<i class="ICON"></i>NAME
	</header>
</body>