<script total>

	exports.id = 'tapicheckapi';
	exports.name = 'Check credits';
	exports.icon = 'ti ti-shield-check';
	exports.author = 'Total.js';
	exports.version = '1';
	exports.group = 'Total.js API Services';
	exports.config = { token: '' };
	exports.inputs = [{ id: 'input', name: 'Input' }];
	exports.outputs = [{ id: 'output', name: 'Output' }, { id: 'error', name: 'Error' }];

	exports.make = function(instance, config) {

		var cfg;

		instance.message = function($) {

			if (!cfg.token) {
				$.send('error', 'Invalid token');
				return;
			}

			var api = API('TAPI', 'check').callback(function(err, response) {
				if (err)
					$.send('error', err);
				else
					$.send('output', response);
			});

			api.options.token = cfg.token;
		};

		instance.configure = function() {
			cfg = instance.replace(config);
		};

		instance.vary = instance.configure;
		instance.configure();

	};

</script>

<readme>
Returns a current status for your token. It utilizes the [Total.js Check API](https://docs.totaljs.com/totalapi/6c221003eo51c/#6d397001td51c).

__Output data__:

```js
{
    credits: 34.49
}
```
</readme>

<settings>
	<div class="padding bg-smoke">
		<div class="m">
			<p><a href="https://docs.totaljs.com/totalapi/6c221002eo50c/" target="_blank"><i class="ti ti-caret-right mr5"></i>Get Total.js API token</a>.<br>The token field supports variables in the form <span class="badge badge-medium badge-silver">{variable}</span>.</p>
			<ui-component name="input" path="?.token" config="camouflage:1;required:1;monospace:1"><b>API token</b></ui-component>
		</div>
	</div>
</settings>

<body>
	<header>
		<i class="$ICON"></i>$NAME
	</header>
</body>