<script total>

	exports.id = 'tapiinvoiceparserapi';
	exports.name = 'Invoice parser';
	exports.icon = 'ti ti-invoice';
	exports.author = 'Total.js';
	exports.version = '1';
	exports.group = 'Total.js API Services';
	exports.config = { token: '', path: '' };
	exports.inputs = [{ id: 'input', name: 'Input' }];
	exports.outputs = [{ id: 'output', name: 'Output' }, { id: 'error', name: 'Error' }];

	exports.make = function(instance, config) {

		var cfg;

		instance.message = function($) {

			if (!cfg.token) {
				$.send('error', 'Invalid token');
				return;
			}

			var payload = cfg.path ? cfg.path.includes('.') ? U.get(cfg.path, $.data) : $.data[cfg.path] : $.data;

			if (!payload) {
				$.send('error', 'Invalid data');
				return;
			}

			var data = {};
			data.data = payload;

			var api = API('TAPI', 'invoiceparser', data).callback(function(err, response) {
				if (err)
					$.send('error', err);
				else
					$.send('output', response);
			});

			api.options.token = cfg.token;
		};

		instance.configure = function() {
			cfg = instance.replace(config);
		};

		instance.vary = instance.configure;
		instance.configure();

	};

</script>

<readme>
It parses meta data of the invoice from the PDF/JPG/PNG file type. It utilizes the [Total.js Invoiceparser API](https://docs.totaljs.com/totalapi/6c221003eo51c/#130w3001db51d).

__Input data:__

```js
// {String} dataURI of a file
"data": "data:application/pdf;base64,JVBERi0xLjcN..."
```

__Output data__:

```js
{
    supplier: {
        address: 'Nádražní 44/86 15000 Praha 5',
        name: 'DRONPRO',
        vatid: 'CZ04587332'
    },
    customer: {
        name: 'TOTAL AVENGERS S.R.O.',
        address: 'Viestova 6784/28 97401 Banská Bystrica, Slovakia',
        vatid: 'SK2120417167'
    },
    date: '2023-07-17',
    number: '23ES04414',
    amount: 3445.46,
    total: 3445.46,
    currency: 'CZK',
    language: null,
    tax: 0
}
```
</readme>

<settings>
	<div class="padding bg-smoke">
		<div class="m">
			<p><a href="https://docs.totaljs.com/totalapi/6c221002eo50c/" target="_blank"><i class="ti ti-caret-right mr5"></i>Get Total.js API token</a>.<br>The token field supports variables in the form <span class="badge badge-medium badge-silver">{variable}</span>.</p>
			<ui-component name="input" path="?.token" config="camouflage:1;required:1;monospace:1"><b>API token</b></ui-component>
		</div>
		<div class="m">
			<ui-component name="input" path="?.path" config="monospace:1;placeholder:path.to.property">Path for reading input data</ui-component>
			<div class="help">Optional. This component will load input data from a specific property/field according to the path.</div>
		</div>
	</div>
</settings>

<body>
	<header>
		<i class="$ICON"></i>$NAME
	</header>
</body>