<script total>

	exports.id = 'tcors';
	exports.name = 'CORS';
	exports.group = 'Total.js';
	exports.icon = 'ti ti-html5';
	exports.version = '3';
	exports.author = 'Total.js';
	exports.config = { hostnames: [] };
	exports.meta = { singleton: true };

	exports.make = function(instance, config) {

		var route = null;

		instance.close = function() {
			route && route.remove && route.remove();
			route = null;
		};

		instance.configure = function() {
			route && route.remove && route.remove();
			var url = config.hostnames.join(',');
			route = url ? CORS(url) : CORS();
		};

		instance.configure();

	};

</script>

<readme>
The component enables Cross-Origin Resource Sharing `CORS`, so the web browser will be able to communicate directly with the REST API. The functionality will work only with a defined Proxy endpoint for this Flow.
</readme>

<settings>
	<div class="padding">
		<ui-component name="textboxlist" path="?.hostnames" config="maxlength:50;placeholder:https://www.totaljs.com" class="m">Hostnames with a protocol</ui-component>
	</div>
</settings>

<body>
	<div class="padding center">
		<i class="ti ti-html5" style="font-size:50px;color:#BD6B27"></i>
		<div class="mt10 fs12">CORS enabled</div>
	</div>
</body>