<script total>

	exports.name = 'Test';
	exports.icon = 'fa fa-info';
	exports.author = 'Total Avengers';
	exports.version = '1';
	exports.config = {};
	exports.inputs = [{ id: 'input', name: 'Input' }];
	exports.outputs = [{ id: 'output', name: 'Output' }];

	exports.make = function(instance, config) {

		instance.message = function($) {
			$.send('output', 'Hello world output');
			$.send('dynamic', 'Hello world dynamic');
		};

		instance.configure = function() {
			instance.outputs = config.outputs;
			instance.save();
		};

		instance.configure();
	};

</script>

<readme>
	Test
</readme>

<settings>
</settings>

<style>
</style>

<body>
	<header>
		<i class="ICON"></i>NAME
	</header>
	<footer></footer>
</body>