<script total>

	exports.id = 'tsqlquery';
	exports.name = 'SQL query';
	exports.icon = 'ti ti-database';
	exports.author = 'Total.js';
	exports.group = 'Total.js';
	exports.version = '1';
	exports.config = { id: 'default', sql: 'SELECT 1', first: false, path: '' };
	exports.inputs = [{ id: 'input', name: 'Payload' }];
	exports.outputs = [{ id: 'output', name: 'Output' }, { id: 'error', name: 'Error' }];

	exports.make = function(instance, config) {
		instance.message = function($) {

			var id = $.variables(config.id, true);
			var sql = $.variables(config.sql, true, val => typeof(val) === 'string' && val[0] === '!' ? val.substring(1) : PG_ESCAPE(val));

			DATA.query(id, sql).callback(function(err, response) {
				if (err) {
					$.send('error', err);
				} else {

					if (config.first)
						response = response[0];

					if (config.path) {
						U.set($.data, config.path, response);
						response = $.data;
					}

					$.send('output', response);
				}
			});

		};
	};

</script>

<readme>
The component executes SQL command on the specifi connection. This component depends on the `API PostgreSQL` component.
</readme>

<settings>
	<div class="padding">
		<div class="message message-alert">Connection and SQL query support dynamic variables in the form <code class="b">{key}</code> or <code class="b">{data.key}</code>. Variables are read from global Variables <code class="b">{key}</code> and from the message data <code class="b">{data.key}</code>. The component encodes all SQL values with except <code class="b red">{!key}</code>.</div>
		<div class="grid-2">
			<div class="m">
				<ui-component name="input" path="?.id" config="required:1;innerlabel:1">Connection</ui-component>
				<div class="help">A connection name/identifier</div>
			</div>
			<div class="m">
				<ui-component name="input" path="?.path" config="innerlabel:1;placeholder:response">Assign data according to the path</ui-component>
				<div class="help">Otherwise, the response will replace the entire message data.</div>
			</div>
		</div>
		<ui-component name="input" path="?.first" config="type:checkbox">Return only the first row</ui-component>
		<hr />
		<div class="ui-input-label">SQL query:</div>
		<ui-component name="codemirror" path="?.sql" config="type:sql;minheight:300;parent:auto;margin:290;tabs:true;trim:true"></ui-component>
	</div>
</settings>

<style>
	.CLASS footer { padding: 10px; font-size: 12px; }
</style>

<body>
	<header>
		<i class="$ICON"></i>$NAME
	</header>
	<footer> 
		<ui-bind path="$CONFIG.id" config="text span;empty">
			Database: <span class="b"></span>
		</ui-bind>
	</footer>
</body>