<script total>

	exports.name = 'Zigbee2MQTT Bridge';
	exports.icon = 'fa fa-exchange';
	exports.group = 'Zigbee2MQTT';
	exports.config = { broker: '' };
	exports.inputs = [{ id: 'input', name: 'Input' }];
	exports.outputs = [{ id: 'info', name: 'Info' }, { id: 'logging', name: 'Logging' }, { id: 'devices', name: 'Devices' }, { id: 'groups', name: 'Groups' }, { id: 'event', name: 'Event' }, { id: 'extensions', name: 'Extensions' }];
	exports.author = 'Martin Smola';
	exports.version = '1';
	exports.flags = ['mqttbroker-dep', 'zigbee2mqttbridge'];
	// mqtt broker only notifies of its state if a component has `mqttbroker-dep` flag
	// and if the config.broker is equal to the broker's instance.id
	exports.make = function(instance, config) {

		var broker;
		var status = {};
		const store = {};

		instance.configure = function() {
			if (!config.basetopic)
				config.basetopic = config.basetopic || 'zigbee2mqtt';

			broker && broker.unsubscribe(instance.id, (config.basetopic || 'zigbee2mqtt') + '/bridge/#');

			broker = instance.main.find(config.broker);
			if (broker) {
				status.status = broker.state.status;
				instance.status(status);
				broker.subscribe(instance.id, (config.basetopic || 'zigbee2mqtt') + '/bridge/#');
			} else {
				instance.status({ status: 'Broker not found' });
			}
		};

		instance.message = function($) {
			var data = $.data;
			if (!data.command)
				return;
			switch(data.command) {
				case 'permit_join':
					permitjoin();
					break;
				case 'health_check':
					publish('/bridge/request/health_check', '');
					break;
				case 'restart':
					publish('/bridge/request/restart', '');
					break;
				case 'devices':
					instance.send('devices', store.devices);
					break;
				case 'groups':
					instance.send('groups', store.groups);
					break;
				case 'extensions':
					instance.send('extensions', store.extensions);
					break;
			}
			$.destroy();
		};

		instance.onmessage = function(topic, message, match, ts) {
			switch (topic) {
				case config.basetopic + '/bridge/info':
					const { version, commit, coordinator, network, permit_join, permit_join_timeout, restart_required } = message;
					status = { status: broker.state.status, basetopic: config.basetopic, name: config.name, version, commit, coordinator, network, permit_join, permit_join_timeout, restart_required };
					instance.status(status);
					instance.send('info', status);
					break;
				case config.basetopic + '/bridge/logging':
					instance.send('logging', message);
					break;
				case config.basetopic + '/bridge/devices':
					store.devices = message;
					instance.send('devices', message);
					break;
				case config.basetopic + '/bridge/groups':
					store.groups = message;
					instance.send('groups', message);
					break;
				case config.basetopic + '/bridge/event':
					instance.send('event', message);
					break;
				case config.basetopic + '/bridge/extensions':
					store.extensions = message;
					instance.send('extensions', message);
					break;
			}
		};

		instance.configure();

		instance.close = function() {
			broker && broker.unsubscribe(instance.id, (config.basetopic || 'zigbee2mqtt') + '/bridge/#');
		};

		instance.onmqttbroker = function(event) {
			if (event.broker == config.broker)
				return;
			if (event.name === 'changed')
				instance.configure();
		};

		instance.trigger = function(data) {
			if (data.action === 'permit_join')
				permitjoin();
			else if (data.action === 'refresh')
				instance.configure();
		}

		function permitjoin() {
			publish('/bridge/request/permit_join', { value: true, time: 120 });
		};

		function publish(topic, message) {
			var broker = instance.main.find(config.broker);
			if (broker)
				broker.publish(config.basetopic + topic, message);
			else
				instance.status({ status: 'Broker not found' });
		};
	};

	exports.call = function(data, answer) {
		var arr = [];

		var instances = this.instances();

		instances = instances.filter(i => i.module.flags && i.module.flags.includes('mqttbroker'));
		for (let com of instances)
			arr.push({ id: com.id, name: `${com.state.name} (${com.state.status})` });

		answer(arr);
	};
</script>

<readme>
[Documentation](https://www.zigbee2mqtt.io/guide/getting-started/)
This component requires a MQTT Broker
Supported request commands: `permit_join`, `health_check`, `restart`, `devices`, `groups`, `extensions`
Input:
```javascript
{
	command: 'permit_join'
}
```
</readme>

<style>
	.CLASS footer { padding: 10px; font-size: 11px; }
	.CLASS footer b { float: right; }

	.CLASS button { float: right; height: 20px; font-size: 11px; border: 1px solid #E0E0E0; border-radius: var(--radius); color: #000; background-color: transparent; margin: 0 0 0 8px; padding: 0 5px; }
	.CLASS button:hover { background-color: #F8F8F8; }
	.CLASS button:active { background-color: #E0E0E0; }

	.ui-dark .CLASS button { border-color: #404040; color: #FFF; }
	.ui-dark .CLASS button:hover { background-color: #303030; }
	.ui-dark .CLASS button:active { background-color: #404040; }
</style>

<script>
	ON('configure_zigbee2mqttbridge', function(data) {
		data.call(function(response) {
			SET('%brokers', response);
		}, true);
	});

	FUNC.mqtt_click = function(el) {
		var action = el.attrd('action');
		FUNC.trigger(el, { action });
	};
</script>

<settings>
	<div class="padding">
		<div class="row">
			<div class="col-md-6">
				<div data---="input__?.name__placeholder:House #1" class="m"><b>Name</b></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div data---="input__?.broker__dirsource:%brokers;dirraw:1;placeholder:Select broker;dirempty:No broker;required:1" class="m"><b>Broker</b></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div data---="input__?.basetopic__placeholder:zigbee2mqtt" class="m"><b>Base topic</b></div>
			</div>
		</div>
	</div>
</settings>

<body>
	<header>
		<button class="exec" data-exec="FUNC.mqtt_click" data-action="refresh">Refresh</button>
		<button class="exec" data-exec="FUNC.mqtt_click" data-action="permit_join">Permit join</button>
		<i class="ICON"></i>NAME
	</header>
	<footer>
		<div data-bind="!STATUS__template__show">
			<script type="text/html">
				<div><b>{{ value.name | empty }}</b>Name</div>
				<div><b>{{ value.basetopic | empty }}</b>Base topic</div>
				<div><b>{{ value.status | empty }}</b>Status</div>
				<div><b>{{ value.version | empty }}({{ value.commit | empty }})</b>Zigbee2MQTT</div>
				<div><b>{{ value.coordinator.ieee_address | empty }}</b>Coordinator Address</div>
				<div><b>{{ value.coordinator.type | empty }}</b>Coordinator Type</div>
				<div><b>{{ if value.permit_join }}<span class="b">{{ value.permit_join_timeout | empty }}s</span>{{ else }}no{{ fi }}</b>Permit join</div>
				{{ if value.restart_required }}<div class="red"><b>Restart required !!</b></div>{{ fi }}
			</script>
		</div>
	</footer>
</body>