<script total>

	exports.name = 'Zigbee2MQTT Devices';
	exports.icon = 'fa fa-cube';
	exports.group = 'Zigbee2MQTT';
	exports.config = { broker: '' };
	exports.inputs = [{ id: 'input', name: 'Input' }];
	exports.outputs = [{ id: 'output', name: 'Output' }, { id: 'available', name: 'Availability' }];
	exports.author = 'Martin Smola';
	exports.version = '1';
	exports.flags = ['mqttbroker-dep', 'zigbee2mqttbridge-dep'];

	exports.make = function(instance, config) {

		var broker, topic, basetopic;
		var commands = ['get', 'set', 'availability'];

		var cache = {}; // TODO: use transactionid?? not possible, only bridge/request supports that??

		instance.message = function($) {
			if (!broker || !topic) {
				instance.status('Broker not found');
				return;
			}

			var data = $.data;
			if (!data || !data.command || !commands.includes(data.command)) {
				$.destroy();
				return;
			}
			const { command, deviceid, message } = data;

			message.transaction = 1;
			message.data = 'test';

			broker.publish(basetopic + '/' + deviceid + '/' + command, message);

			$.destroy();
		};

		instance.configure = function() {
			if (broker && topic)
				broker.unsubscribe(instance.id, topic);

			bridge = instance.main.find(config.bridge);

			if (bridge) {
				topic = bridge.config.basetopic + '/#';
				basetopic = bridge.config.basetopic;
				config.basetopic = bridge.config.basetopic;
				config.broker = bridge.config.broker;
				broker = instance.main.find(config.broker);

				if (broker) {
					broker.subscribe(instance.id, topic);
					instance.status({ status: broker.state.status, bridge: bridge.config.name, topic });
				} else {
					instance.status({ status: 'Broker not found', bridge: bridge.config.name, topic });
				}
			} else {
				topic = '';
				basetopic = '';
				instance.status({ status: 'Bridge not found' });
			}
		};

		instance.onmessage = function(topic, message, match, ts) {
			if (topic.startsWith(basetopic + '/bridge'))
				return;
			instance.send('output', { topic, message, ts });
		};

		instance.configure();

		instance.trigger = function() {

		}

		instance.close = function() {
			if (broker && topic)
				broker.unsubscribe(instance.id, topic);
		}
	};

	exports.call = function(data, answer) {
		var arr = [];
		var instances = this.instances();
		instances = instances.filter(i => i.module.flags && i.module.flags.includes('zigbee2mqttbridge'));
		for (const com of instances)
			arr.push({ id: com.id, name: `${com.config.name} (${com.id})` });
		answer(arr);
	};
</script>

<readme>
Please read the [device documentation](https://www.zigbee2mqtt.io/supported-devices/) to learn about the message structure.
Input:
```javascript
{
	command: 'get|set|availability',
	deviceid: '0x65454....', // id or friendly name
	message: { ... },
	// not implemented // data: <anything> // this will be passed to the output along with the response from the bridge
}
```

Output:
```javascript
{
	result: { ... },
	// not implemented // data: <value-of-data-property-from-input>
}
```
</readme>

<style>
	.CLASS footer { padding: 10px; font-size: 11px; }
	.CLASS footer b { float: right; }
</style>

<script>
	ON('configure_zigbee2mqttdevices', function(data) {
		data.call(function(response) {
			SET('%zigbee_bridges', response);
		}, true);
	});
</script>

<settings>
	<div class="padding">
		<div class="row">
			<div class="col-md-6">
				<div data---="input__?.bridge__dirsource:%zigbee_bridges;dirraw:1;placeholder:Select bridge;dirempty:No bridge;required:1" class="m"><b>Zigbee2MQTT Bridge</b></div>
			</div>
		</div>
	</div>
</settings>

<body>
	<header>
		<i class="ICON"></i>NAME
	</header>
	<footer>
		<div data-bind="!STATUS__template__show">
			<script type="text/html">
				<div><b>{{ value.bridge | empty }}</b>Bridge</div>
				<div><b>{{ value.status | empty }}</b>Status</div>
				<div><b>{{ value.topic | empty }}</b>Topic</div>
			</script>
		</div>
	</footer>
</body>